[2018-04-11 17:19] goern opened #7 "use-api-service-port is a generic value"
we can conclude from ENV rather than configuring it at https://github.com/fridex/thoth-core/blob/master/openshift/configmap-template.yaml#L39

[2018-04-16 17:50] fridex opened #11 "Document package-releases-job"
Once package-releases-job will be part of the deployment, we should document its presents in the README file.

[2018-04-17 06:21] fridex opened #13 "Rename THOTH_CEPH_HOST to THOTH_S3_ENDPOINT_URL"
Rename ``THOTH_CEPH_HOST`` to ``THOTH_S3_ENDPOINT_URL`` to respect its semantics.

[2018-04-17 13:22] goern opened #17 "provision playbook does not deploy user-api related objects"
... as user-api templates are in user-api/ repository

[2018-04-17 17:57] sesheta commented on #7
111

[2018-04-19 08:00] fridex opened #22 "Rename THOTH_MIDDLEEND_NAMESPACE to THOTH_MIDDLETIER_NAMESPACE"

[2018-04-19 08:29] goern opened #23 "validate needs to check all namespaces for configmaps"
see https://github.com/thoth-station/core/blob/master/playbooks/roles/validate-thoth-core/tasks/main.yaml#L20

[2018-04-20 11:56] goern commented on #17
fixed by #25

[2018-04-20 11:56] #17 closed

[2018-04-20 11:57] goern commented on #23
fixed by #25

[2018-04-20 11:57] #23 closed

[2018-04-20 11:58] goern opened #28 "approver sets needs-rebase label on merged PR"
approver needs to check if a PR is not mergeable due to the fact that it has been merged. If a PR is not merged and not mergeable, than 'needs-rebase' label should be set.

[2018-04-23 07:09] goern opened #32 "common-logging branch deprecated?"
@fridex  Can we delete the common-logging branch?

[2018-04-23 07:17] fridex commented on #32
Deleted.

[2018-04-23 07:17] #32 closed

[2018-04-23 08:46] goern opened #36 "graph refresh job deployment is missing from palybook"
It's creation seems to be missing from https://github.com/thoth-station/core/blob/master/playbooks/roles/thoth-frontend/tasks/main.yaml

This obsoletes #35

[2018-04-23 08:46] fridex opened #37 "Revisit service account for services"
Currently, there is assigned edit cluster role to all services that have `app: thoth-core`. We should revisit this configuration and check if only necessary services have this cluster role so no security risks are possible. Namely, only the following should have edit cluster role:

 * user-api
 * cleaup-job
 * graph-refresh-job

[2018-04-23 08:58] goern opened #38 "move CronJobs out of template into their own repositories"
Move CronJobs and maybe related ImageStreams out of template.yaml and into {cleanup-job|graph-sync-job}

[2018-04-23 11:43] goern opened #41 "review BuildConfig, ImageStreams, CronJobs to use same nameing scheme"
Some CronJobs and their ImageStreams and BuildConfig use different naming schemata for the Images.

[2018-04-23 11:48] fridex commented on #38
Relevant:
* https://github.com/thoth-station/graph-sync-job/pull/7
* https://github.com/thoth-station/graph-refresh-job/pull/8
* https://github.com/thoth-station/cleanup-job/pull/8

[2018-04-23 16:04] fridex commented on #41
Fixed in https://github.com/thoth-station/core/pull/43 and in commits in *-job repos.

[2018-04-23 16:04] #41 closed

[2018-04-23 16:05] fridex commented on #36
Fixed in referenced issue, closing.

[2018-04-23 16:05] #36 closed

[2018-04-24 09:51] fridex opened #48 "Document graph-refresh cronjob"
We should document its presents in the README file.

[2018-04-24 09:53] fridex opened #49 "Document graph-sync cronjob"
We should make sure it is present in the README file documentation.

[2018-04-24 10:27] fridex opened #50 "Provide a way to specify user API secret"
It would be nice to have an option in ansible's provision.yaml file to specify user API secret used on admin API endpoints.

[2018-04-25 11:47] goern opened #53 "document naming schema for API endpoints and their objects"
We have several alternatives and should decide which one we prefer and use...

[2018-04-25 18:26] goern opened #54 "introduce THOTH_SOLVER_DEBUG"
put THOTH_SOLVER_DEBUG into a configmap, add it to ansible playbooks so that we can use it at https://github.com/thoth-station/graph-refresh-job/blob/master/app.py#L114

Add/check
- [ ] configmap template
- [ ] ansible playbooks and roles
- [ ] deployment config and cronjobs

[2018-04-25 20:37] fridex commented on #54
Let's follow the pre-configured common logging schema across services - it will simplify things later on - the variable name should be named ```THOTH_LOG_SOLVER``` as described in https://thoth-station.github.io/docs/thoth.common.html#module-thoth.common.logging

[2018-04-26 10:55] fridex opened #55 "Timing of graph-refresh, package-releases and graph-sync cronjobs"
It's worth to setup cronjobs correctly, so here's a summary how we should do that:

  * the package-releases cronjob has to be scheduled to correctly sample new releases on PyPI based on RSS feed that has limited number of entries - last 40. The current setup runs package-releases every 6 minutes that seems to be OK based on frequency of PyPI package releases.

 * graph-refresh job and graph-sync

[2018-04-27 10:41] goern opened #57 "add Fedora imagestreams to playbooks"
so that they can be used by builds

[2018-04-27 13:37] fridex commented on #57
Closing based on #58

[2018-04-27 13:37] #57 closed

[2018-04-29 16:30] goern opened #61 "central logging, monitoring and metrics"
Let's implement a central logging, monitoring and metrics infrastructure component, so that we for example see conditions like the unpullable image in https://github.com/thoth-station/cleanup-job/issues/12#issuecomment-385150327

[2018-05-17 16:00] goern opened #67 "'needs-rebase' label should block a merge by sesheta"
Sesheta must not merge any PR that is carrying the "needs-rebase" label. this should be a simple addition to https://github.com/thoth-station/core/blob/master/bots/sesheta/common.py#L37

[2018-06-06 15:37] goern commented on #7
If we want to use the user api service from another service, we need to address it using a port number. that port number could be read from ENV (generated by OpenShift) rather than a config map entry (generating the ENV). it might not work if we have the consuming service in a different namespace.

[2018-06-11 18:36] fridex commented on #22
Already done by #76

[2018-06-11 18:36] #22 closed

[2018-06-12 16:08] goern opened #80 "create playbook to reconfigure configmap and secrets"
As a ThothOps,
I want to run a playbook,
so that ConfigMaps and Secrets get reconfigured with new keys and/or values.

[2018-06-12 17:20] #13 closed

[2018-06-14 15:14] fridex opened #82 "Fix job skews we are observing in the test deployment"
[code]

[2018-06-19 12:32] fridex commented on #82
Do we have an upshift issue for this?

[2018-06-19 20:59] goern opened #85 "implement auto_approver bot component"
Implement an auto_approver bot component that will `/approve` a PR if

- it is mergeable
- the latest jenkins ci tests is green

could be implemented as a cronjob

[2018-06-28 05:58] fridex opened #97 "Do not ignore namespace creation failure in Ansible playbooks"
Currently, we use ``ignore: true`` to guard when namespace creation fails (e.g. deploying to same namespace). To be more precise, we should run the given ansible task only if the requested namespace (for tiers) do not exist and remove ``ignore: true`` statement.

[2018-06-28 06:05] fridex opened #99 "Do not ignore errors on secrets/configmaps creation"
We shouldn't ignore errors on secrets/configmaps creation. The ignoring was created due to possible collision of due to already existing secrets/configmaps (due to deployment to same namespace). We should avoid this logic - there could be errors when configmaps/secrets couldn't be created (e.g. missing parameters).

[2018-07-08 05:55] goern opened #111 "a space too much"
Various files work with 'THOTH_S3_ENDPOINT_URL', the string has been including a trailing space that needs to be removed. See
https://github.com/thoth-station/core/blob/e40f650b62e3201643a5b534c22b09fa3575a0b4/openshift/configmap-template.yaml#L37

[2018-07-08 05:57] goern commented on #85
This has been implemented by https://github.com/thoth-station/zuul-test-config/blob/master/zuul.d/kebechet-auto-gate.yaml

[2018-07-08 05:57] #85 closed

[2018-07-08 05:59] goern commented on #67
Sesheta's `merge_pr.py` has been superseeded by zuul-ci

[2018-07-08 05:59] #67 closed

[2018-07-08 06:01] goern commented on #28
Sesheta has been superseeded by zuul-ci

[2018-07-08 06:01] #28 closed

[2018-07-12 07:47] fridex commented on #111
Fixed in #112

[2018-07-12 07:47] #111 closed

[2018-07-12 15:21] goern opened #113 "result-api does not return solver results"
[code]

[2018-07-18 07:57] goern commented on #82
seems to work in the current environment paas.upshift

[2018-07-18 07:57] #82 closed

[2018-07-19 08:08] fridex opened #121 "Revisit templates - check labels section"
In most of the templates we have, there is a copy-pasta error where labels are not part of metadata section. Let's check which templates are affected and change this behavior so we can use label selectors correctly.

[2018-07-20 08:13] fridex opened #122 "Revisit structure of ansible playbooks"
This is mostly design decision on how we would like to handle deployment of the application.

We could keep a single openshift template that keeps all objects definition per repository so when we make changes in the application, there is one template that states how to deploy that part of application. This will also reduce size of playbooks we need to maintain and we do not miss object that needs

[2018-07-30 18:42] goern commented on #7
@ace2107 ping

[2018-08-01 11:10] fridex commented on #122
Not related anymore as we would like to have is/dc/bc separated for image offering pipeline.

[2018-08-01 11:10] #122 closed

[2018-08-01 11:26] fridex commented on #80
What about having a playbook that would update all the templates in openshift as well as all the configmaps/secrets?

[2018-08-03 07:00] fridex opened #135 "Use save-config for oc create"
**Describe the solution you'd like**

As we are using OpenShift as a naming service, we should consider creating passing ``--save-config`` to ``oc create`` as we will most probably do ``oc apply`` to propagate changes made in the template to the cluster.

[2018-08-08 06:37] goern commented on #121
we have done this one, right?!

[2018-08-08 06:43] fridex commented on #121
Yes, closing.

[2018-08-08 06:43] #121 closed

[2018-09-05 06:42] #135 closed

[2018-09-05 11:32] fridex opened #142 "Create janusgraph configuration entry in ConfigMap"
**Is your feature request related to a problem? Please describe.**

If we decide to host graph database elsewhere, we should be able to configure it for all the services and pods of thoth at one place. Currently, we hardcoded ``THOTH_JANUSGRAPH_HOST`` and ``THOTH_JANUSGRAPH_HOST`` to each template that is not nice at all.

**Describe the solution you'd like**

We should move it to configmap and id

[2018-09-05 11:58] goern commented on #142
hmm, I think I argued this before... _HOST and _PORT are generic values, they could be derived from the service, no matter if its an internal or external service.

[2018-09-05 11:59] fridex commented on #142
So the internal DNS can handle this?

[2018-09-16 20:02] fridex opened #144 "Unable to re-deploy thoth"
**Describe the bug**

When running deprovision and provision again, I get the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Provision Thoth in a clean namespace using ansible playbooks
2. Deprovision Thoth using ansible playbooks
3. Provision Thoth into the namespace
4. See error

**Expected behavior**

Re-provisioning should be done correctly.

[2018-09-18 11:40] #144 closed

[2018-09-24 14:27] fridex opened #148 "Use oc process | oc apply instead of oc new-app in playbooks"
**Is your feature request related to a problem? Please describe.**

As we are currently using oc new-app, we cannot easily update deployment without deleting templates from openshift.

**Describe the solution you'd like**

If we could use oc process | oc apply instead, we could run the playbooks multiple times without failing that the given object already exists in openshift.

**Describe alternati

[2018-09-24 16:06] fridex opened #149 "Introduce caching of results"
**Is your feature request related to a problem? Please describe.**

As a user can submit multiple requests and can ask for the same result multiple times, it would be nice to introduce a caching layer so, if not stated otherwise, results are picked from cache instead of computing them again. Cache will be invalidated after certain period of time.

**Describe the solution you'd like**

We can use C

[2018-10-03 23:52] fridex commented on #142
Should be derived from service, closing this.

[2018-10-03 23:52] #142 closed

[2018-10-03 23:56] #113 closed

[2018-10-03 23:57] #61 closed

[2018-10-03 23:58] #54 closed

[2018-10-03 23:59] fridex commented on #49
Done in the repository.

[2018-10-03 23:59] #49 closed

[2018-10-03 23:59] fridex commented on #48
Done in the repository.

[2018-10-03 23:59] #48 closed

[2018-10-05 07:36] goern opened #153 "use JanusGraph Service"
**Is your feature request related to a problem? Please describe.**
We want JanusGraph to be exposed as a Service, so that all components could use it via ENV or DNS. At the same time it should be transparent if the service is deployed on the same project or is in external service.

**Describe the solution you'd like**
JanusGraph service in thoth project

**Describe alternatives you've considered**

[2018-10-06 20:05] #99 closed

[2018-10-10 18:41] sentry-io[bot] opened #161 "configmap template has defaults for rsyslog which should be empty"
Sentry Issue: [THOTH-STAGE-1](https://sentry.io/thoth-station/thoth-stage/issues/722358705/)

[code]

[2018-10-10 19:10] #161 closed

[2018-10-16 09:12] fridex opened #164 "Create a base image for API services"
As we are using swagger to document all the endpoints, it could be good to consider creating an own s2i image for API services. The base image would be based on Python3's s2i and would look for swagger.yaml that will act like an entrypoint. The swagger definition (in case of connexion) states where the implementation sits so the base image can directly load swagger.yaml and run the server. All the

[2018-10-18 12:05] fridex opened #166 "Remove unused entries in configmap"
These entries should be now part of job templates, do not use them from configmap:

https://github.com/thoth-station/core/blob/master/openshift/configmap-template.yaml#L31-L32

[2018-10-18 12:09] fridex opened #167 "Introduce multiple configmaps respecting semantics"
As of now we have one large configmap. We should create multiple configmaps respecting their semantics and use ``envFrom`` directive to insert all the configuration options from the given configmap. This way, if we change something for example in logging (e.g. introduce new functionality), we do not need to manually change each and every openshift template.

Candidates are:

* thoth-logging - all

[2018-10-18 12:09] goern commented on #167
see also https://trello.com/c/KRYZgfKs

[2018-10-18 12:11] goern commented on #167
note: changes on configmaps do not trigger redeployments.

[2018-10-18 12:12] goern commented on #167
I would get rid of the 'thoth-' prefix as the configmaps live in the same project as the deployments/jobs using it. More complicated: we can not have cross-project configmap/secret references :/

[2018-10-18 12:13] fridex commented on #167
One thing here - adviser, package-extract, solver, provenance-checker, ... - these all can have different requests on resources. We use jobs, the k8s scheduler can make some jobs starving as it postpones jobs that have requests larger than the currently available resources in the namespace.

To prevent from this in future/prod deployment, we should make configurable namespaces per analyzer type so

[2018-10-18 12:14] fridex commented on #167
In that case we will need to revisit this and adjust trigger all over the places where needed.

[2018-10-29 11:02] fridex opened #169 "Revisit README file - some links/sections are not relevant anymore"

[2018-10-29 11:29] fridex commented on #169
Ideally we should have a single command deployment - if there is a need to provide a script to provision thoth, lets do it.

As a new user/developer/.. I would like to run a single command to provision everything (I don't have necessary knowledge of ansible, ansible-galaxy, ...).

[2018-10-29 11:34] fridex opened #170 "Deprovision script should deprovision from all namespaces used"
middletier, frontend, middlent, ...

[2018-10-29 11:37] fridex opened #171 "Deprovision playbook do not respect namespace configuration"
The current implementation of the deprovision.yaml script requires THOTH_NAMESPACE to be defined, but it does not use it. It rather deprovisions thoth from the current namespace.

[2018-10-29 11:46] fridex opened #172 "Remove jenkins roles?"
Do we still need these roles?
core/playbooks/roles/thoth-jenkins/tasks/

[2018-11-01 15:28] todo[bot] opened #179 "check if this works with branches that are not included in a PR"
https://github.com/thoth-station/core/blob/04008f4c13326a647357f7144bd9a33529aed2a9/Jenkinsfile#L58-L63

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 04008f4c13326a647357f7144bd9a33529aed2a9 when #81 was merged. cc @goern.

[2018-11-03 07:12] #172 closed

[2018-11-03 09:05] #179 closed

[2018-11-22 22:42] fridex commented on #153
I think this can be closed. Thanks for the work!

[2018-11-22 22:42] #153 closed

[2019-01-04 11:21] todo[bot] opened #185 "wait for init-job to be successfully finished""
https://github.com/thoth-station/core/blob/213c701deecc3ac5d072294adf0eca1bd0b568ad/playbooks/initialize.yaml#L30-L34

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 213c701deecc3ac5d072294adf0eca1bd0b568ad when #184 was merged. cc @goern.

[2019-01-18 14:08] fridex opened #190 "Create roles for analyzer service account"
**Is your feature request related to a problem? Please describe.**

As of now, we assign cluster admin to the analyzer service account. It would be better to create a fine-granted access control for this service account.

**Describe the solution you'd like**

Have roles defined on deployment (from top of my head, some might be missing):

* create jobs (later CRDs) in middletier, backend namespace

[2019-02-15 10:07] todo[bot] opened #200 "the following tasks could be moved into their own roles...."
https://github.com/thoth-station/core/blob/5302fe4ca4c1a30d062336c64c7eb5b4d67334a9/playbooks/provision.yaml#L155-L160

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 5302fe4ca4c1a30d062336c64c7eb5b4d67334a9 when #199 was merged. cc @goern.

[2019-02-26 10:53] pacospace opened #203 "Implement Pagination of git_clone_repos.yaml and git_update_repos.yaml"
Cloning repositories from thoth-station is maximum number of repositories == 30.

[2019-03-01 11:53] #203 closed

[2019-03-16 08:00] sentry-io[bot] opened #207 "ApiException: (403)"
Sentry Issue: [THOTH-3SX](https://sentry.io/organizations/thoth-station/issues/937797834/?project=1298083&referrer=github_integration)

[code]

[2019-03-18 06:28] fridex opened #208 "Take a look at pre-commit"
@harshad16 has created ansible scripts to clone and configured all the repositories for developers to developer's machine. We should take a look at pre-commit [1] utility which can help us with PRs and managing repositories (e.g. automatic "black" run, automatic coala, automatic pytest, check YAML files...)

[1] https://pre-commit.com

[2019-03-27 10:15] goern commented on #207
Related-To: https://github.com/thoth-station/thoth-ops/issues/20

[2019-04-18 09:54] fridex opened #214 "Create roles for provisioning dgraph instance, remove JanusGraph bits"
Once we move to Dgraph, we should be able to automatically provision it.

Required:

* create playbooks to provision dgraph instance
* remove JanusGraph specific bits from this repo
* as we would like to reuse the current approach, we could create external service so that env vars are propagated to deployment (?)

[2019-04-18 09:54] fridex commented on #214
CC @goern

[2019-09-11 12:32] fridex commented on #214
Closing this issue as it is no longer relevant.

[2019-09-11 12:32] #214 closed

[2019-09-11 12:47] fridex commented on #149
This is already implemented.

[2019-09-11 12:47] #149 closed

[2019-10-08 13:26] goern opened #223 "rename sentry-environment to sentry-dsn"
**Describe the bug**
all other templates expect `sentry-dsn`

[2019-10-09 07:21] #207 closed

[2019-10-09 14:14] #223 closed

[2019-11-04 18:26] #190 closed

[2019-11-04 18:26] #185 closed

[2019-11-10 17:15] #7 closed

[2019-11-10 17:15] #11 closed

[2019-11-10 17:15] #53 closed

[2019-11-10 17:15] #55 closed

[2019-11-10 17:15] #170 closed

[2019-11-10 17:15] #171 closed

[2020-03-23 20:04] goern commented on #167
is this still valid with the current state of thoth-ops? @harshad16 @fridex

[2020-03-23 21:46] harshad16 commented on #167
An interesting issue, so the goal here was to have a setup in which we can modify the config map and relevant deployment is updated.

As of now, we still use one configmap `thoth` .
May be this could be a valid issue, for making thoth of Gen V ;)
as having trigger to which updates deployments on change of configmaps feels like a good case.

[2020-03-31 12:15] goern commented on #167
or it could be the driver to turn Thoth into an ArgoCD application?!

[2020-04-02 10:12] #200 closed

[2020-04-02 15:40] #167 closed

[2020-04-08 18:31] #169 closed

[2020-05-19 13:44] goern opened #233 "create repo for security-indicator, add topics, bots and stuff"

[2020-05-19 14:07] goern commented on #233
* thoth-si-bandit
* thoth-si-cloc
* thoth-si-aggregator
* rename graph-sync-job

[2020-05-19 15:41] goern commented on #233
done with the github repos, repos on quay.io are missing...

[2020-05-23 11:58] sesheta opened #235 "Establish a practice to have anyone in the team initiate group-programming sessions"
​

[2020-05-23 12:00] goern commented on #235
I will create a lable called 'group-programming' in each of our repos, who ever puts that label on an issue or pull requests requests or offers a group programming experience...

@thoth-station/devs

[2020-05-23 12:13] goern commented on #235
btw... I called it like this: https://github.com/thoth-station/package-extract/labels/thoth%2Fgroup-programming

[2020-05-23 12:16] goern commented on #233
https://quay.io/repository/thoth-station/si-bandit?tag=latest&tab=tags
https://quay.io/repository/thoth-station/si-cloc?tag=latest&tab=tags
https://quay.io/repository/thoth-station/si-aggregator?tag=latest&tab=tags

[2020-05-23 12:17] #233 closed

[2020-06-04 13:40] goern opened #236 "SI Release v0.1.0 BLOCKER"
- [x] https://github.com/thoth-station/workflows/issues/26
- [x] create container images for si-{bandit|cloc|aggragator}
- [x] https://github.com/thoth-station/si-bandit/issues/1
- [x] https://github.com/thoth-station/si-aggregator/issues/1
- [x] https://github.com/thoth-station/graph-sync-job/issues/421
- [x] https://github.com/thoth-station/thoth-application/issues/52
- [x] create argoCD app
- [

[2020-07-16 20:52] pacospace commented on #236
@harshad16 can you create the SI app when you can in ArgoCD please? so @KPostOffice will test the entire workflow, including syncing part :) Thanks!!

[2020-07-16 20:55] pacospace commented on #236
related-to: https://github.com/thoth-station/thoth-application/issues/52

[2020-07-16 20:55] harshad16 commented on #236
@pacospace  will definitely do that

[2020-07-17 00:47] harshad16 commented on #236
@pacospace i have setup the argocd application and @KPostOffice ,test out the workflows. :flying_saucer:

[2020-08-19 07:56] goern commented on #236
@harshad16 is this done?

[2020-08-19 07:58] #166 closed

[2020-08-19 07:58] goern commented on #164
@fridex still valid?

[2020-08-19 07:58] #148 closed

[2020-08-19 07:58] #97 closed

[2020-08-19 07:59] #80 closed

[2020-08-19 08:01] fridex commented on #164
I think it would be "nice to have". I personally like the idea of s2i-api as a base container image as it could simplify creation of API services. However, considering we have just 3 API services, I think this is low priority or we can completely abandon this solution for now.

[2020-08-19 14:02] harshad16 commented on #236
@goern , other components are deployed.
it the tests are successful , then this issue can be closed.

@KPostOffice  can you ack on security indicator running/executing successfully

[2020-08-21 08:41] goern commented on #236
ping :)

[2020-09-15 09:37] #208 closed

[2020-09-24 14:36] goern opened #241 "How to create a list of packages to be installed to run a given application stack [13pt]"
As a Container Image builder
I want to create a container image,
so that all RPM, Python Modules are installed to run the software stack

Example: get an alpine container, analyse what it runs/entrypoint, figure out which rpm we need....

Do we need to online profile an application stack to also capture dynamically loaded libraries? Can we scan/analyse offline?

Goal: create a report of
1. the dep

[2020-09-24 14:36] goern commented on #241
/assign @KPostOffice
/kind feature

[2020-10-28 10:21] goern commented on #236
/close

[2020-10-28 10:21] #236 closed

[2020-10-28 10:21] sesheta commented on #236
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/236#issuecomment-717837724):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2020-11-03 08:52] harshad16 opened #246 "Update architecture diagram and description with thoth-station updated logics"
**Is your feature request related to a problem? Please describe.**
The Thoth-station has been modified with different tools and apps , we would like to track all this update and update them in the documentation.

**Additional context**
https://github.com/thoth-station/core/blob/master/docs/architecture.png

[2020-11-03 12:53] fridex commented on #246
Things we should include:

* argo workflows
* kafka
* investigator
* slo reporter

https://thoth-station.ninja/docs/developers/adviser/architecture.html

[2020-11-03 13:11] goern commented on #246
And we should figure out a way to describe the different levels: architecture (components coupled via messaging) implementation (Kafka)

[2020-11-11 10:17] pacospace opened #250 "Create Jupyter Lab dependencies management extension"
As Data Scientist,

I would like to have a way to manage my dependencies from Jupyter Lab, using one extension.

- [x] Create repo
- [ ] Create Jupyter Lab extension with Thoth

[2020-11-11 10:35] goern opened #462 "[3pt] create a `pre-commit-update-manager`"

[2020-11-12 17:16] harshad16 opened #252 "Show case complete power of Thoth Advise"
we would like to showcase Thoth advise feature to advise on AI software stack along with provides necessary change for the deployment of the application on openshift infrastructure. Use AICoE-CI(tekton-pipeline) based application to showcase this feature utilizing the Gitops method.

The showcase can be done on a sample application on which the aicoe-ci application is installed.
The ci pipeline wo

[2020-11-13 12:01] pacospace opened #253 "Create a sequence diagram of CI that is doing a provenance check"
**Is your feature request related to a problem? Please describe.**
In order to show how a user can benefit from Thoth, it would be nice to see how provenance check can be used in CI pipeline

**Describe the solution you'd like**
Create a sequence diagram.

**Describe alternatives you've considered**

**Additional context**

[2020-11-14 15:39] goern opened #254 "Deploy AICoE-CI pipeline to Op1st cluster, same feature set as on ocp4"
goal: create an upstream doc and deployment of AICoE-CI

this is a tracker, the real issue is at https://github.com/operate-first/continuous-delivery/issues/1

[2020-11-23 09:59] goern commented on #252
this is the implementation of https://github.com/thoth-station/core/blob/master/docs/ROADMAP.md#reproducible-deployment-pipeline

/kind feature

[2020-11-23 13:17] goern opened #256 "[spike] check if and how we can integrate with kabanero.io"
**Is your feature request related to a problem? Please describe.**
let's figure out if we can integrate thoth services with kabanero, or if we can create a python centric 'blueprint' for it. op1st-ci might also be meaningful to the project.

seeAlso https://github.com/kabanero-io

[2020-11-24 18:40] goern opened #258 "[spike] how to integrate with konveyor.io"
Can we plug in our services into a move2kube migration scenario in konveyor?

[2020-12-02 15:03] sesheta opened #260 "write up how to 'fix a broken stack'"
​

[2020-12-02 15:08] sesheta opened #261 "Think about SIG or area"
Shall we create Special Interest Groups? This pattern seems to give growth opportunities to the Thoth community and can focus our own developers on topics of their interests. It also comes with the responsibility to report out to all the developers what has been discussed in the SIG.

SIG could be mapped to (to be introduced) areas or components of the whole system. This might also be useful to us

[2020-12-03 15:31] goern commented on #261
Let's create SIG analogue to the Projects we have, maybe consolidate a few into one SIG... or create a new SIG.

Everybody is free to join any SIG, there might very natural===required memberships, review the OWNERS file and add yourself as a reviewer!

We will not create GitHub teams for each SIG, but labels!

[2020-12-03 15:54] goern commented on #261
also have a look here: https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md we can assign a sig label to PR in a specific repo if we want to

[2020-12-07 10:32] goern opened #262 "[spike] thamos integration of rekor"
can we create a "rekor indicator" that will tell the developer that a python module being used in an advice has valid rekor information

As a user of Thoth,
I want to see a "rekor indicator" with my `thamos advise` response,
so that I can understand if the releases that are in my dependencies are authentic

As a Python Index Operator,
I want to run a side car rekor service,
so that developers/publ

[2020-12-07 10:38] goern commented on #262
@fridex could you have a little look at this? if feels like Luke might have some nice additional tooling that we can put alongside the SI to have a very strong provenance of dependencies

[2020-12-07 11:38] xtuchyna commented on #261
hmm whut bout `sig/neural-networks` ?

[2020-12-07 11:57] goern commented on #261
like ... `sig/ai` ?

[2020-12-07 12:01] xtuchyna commented on #261
maybe rather `sig/dl`

[2020-12-07 12:29] fridex commented on #262
It might be good to refresh the discussion with upstream. Wheel files [can be signed](https://www.python.org/dev/peps/pep-0491/#signed-wheel-files) and `wheel` had the capability of performing such checks. IIRC, pip performs checks respecting [PEP-491](https://www.python.org/dev/peps/pep-0491/#signed-wheel-files) during the installation process. Unfortunately, the support was dropped - see https:/

[2021-01-04 18:34] fridex commented on #262
There has been already upstream issue which is currently WIP - see [PEP-458](https://www.python.org/dev/peps/pep-0458) and the related PR (https://github.com/pypa/pip/pull/9041) which supports package signing when installing packages from PyPI. I think it might be good to get insights from the community on this topic (https://discuss.python.org/t/rfc-improving-pip-security-with-package-signing-pep

[2021-01-05 08:18] goern commented on #262
@lukehinds the PEP-458 effort seems to be the right place to integrate rekor into the python toolchain. rkor seems to be an alternative to what the python community wants to do right now, so its worth working with them to think about rekor.

[2021-01-14 19:08] fridex commented on #262
If there is a plan to integrate rekor into pip/Python, it might be a good idea to get involved in the community efforts. It looks like they are planning to design signing in a specific way. See https://discuss.python.org/t/rfc-improving-pip-security-with-package-signing-pep-458/5713/4

[2021-01-30 11:01] goern commented on #254
/sig devops

[2021-03-15 19:44] goern commented on #164
/label hacktoberfest

[2021-03-15 19:44] sesheta commented on #164
@goern: The label(s) `/label hacktoberfest` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/zero-prod, deployment_name/ocp4-stage, deployment_name/ocp4-test, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/advisor, sig/build, sig/cyborgs, sig/devops, sig/d

[2021-03-15 22:59] fridex commented on #164
maybe a serverless alternative?

[2021-03-19 11:07] todo[bot] opened #265 "(spiffxp): is this required though?"
https://github.com/thoth-station/core/blob/e9d606ffc0b9bf1c14e91ac68e8fb21a7e1eeb16/community/generator/app.go#L289-L294

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e9d606ffc0b9bf1c14e91ac68e8fb21a7e1eeb16 when #263 was merged. cc @goern.

[2021-04-06 17:58] goern opened #266 "check if CVE-2021-25290 is handled by Kebechet"
GitHub has alerted due to CVE-2021-25290 for many of the AICoE orgs.

Please use this as a benchmark/example how we handle such events.

[2021-04-06 17:59] goern commented on #266
/sig cyborgs
/kind feature

/assign @KPostOffice @fridex

[2021-04-06 17:59] goern commented on #266
/priority critical-urgent

[2021-04-06 19:07] goern commented on #266
ja, there database seems to be 6 days old. Do you thing we should/could contribute to the project?

[2021-04-08 19:18] fridex commented on #266
Somehow missed the question here. Sorry for that.

Related: https://github.com/pyupio/safety-db/pull/2332

[2021-04-17 04:26] sesheta commented on #241
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 06:26] sesheta commented on #246
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 06:27] sesheta commented on #253
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 07:26] sesheta commented on #252
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 08:27] sesheta commented on #262
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-19 08:16] fridex opened #271 "Add support for constraints files"
**Is your feature request related to a problem? Please describe.**

See discussion in https://github.com/pypa/pipenv/issues/4464

**Describe the solution you'd like**

- [ ] pass content of the `constraints_file` with thamos' reqeuest - https://github.com/thoth-station/thamos/pull/841
- [x] adviser accepts constraints_file and registers appropriate pipeline units to respect constraints - https://g

[2021-04-19 09:13] fridex commented on #246
/close

The docs were updated to give a high-level overview. As we are still in dev mode, let's close this. We can extend docs once the application settles down more as needed.

[2021-04-19 09:13] sesheta commented on #246
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/246#issuecomment-822310140):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2021-04-19 09:13] #246 closed

[2021-04-19 09:26] goern commented on #262
/remove-lifecycle stale

[2021-04-19 09:26] goern commented on #252
/remove-lifecycle stale

[2021-04-19 09:26] goern commented on #253
/remove-lifecycle stale
/sig docs

[2021-04-19 09:27] goern commented on #241
/remove-lifecycle stale

[2021-04-19 13:17] goern commented on #164
/close

[2021-04-19 13:17] sesheta commented on #164
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/164#issuecomment-822459349):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-04-19 13:17] #164 closed

[2021-04-20 01:01] tlegen-k commented on #265
Can I commit to this issue by removing TODO from core/community/generator/app.go?

[2021-04-20 19:02] fridex commented on #265
CC @goern

[2021-04-21 08:12] goern commented on #254
@harshad16 this is done, right? I will
/close
feel free to reopen

[2021-04-21 08:12] #254 closed

[2021-04-21 08:12] sesheta commented on #254
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/254#issuecomment-823871086):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-04-21 10:19] goern opened #272 "configurable PI proxy"
**Is your feature request related to a problem? Please describe.**
As a Developer or Build Pipeline,
I want to configure a specific host
so that it is used as a proxy for an PI

**Describe the solution you'd like**
TBD

**Describe alternatives you've considered**
n/a

**Additional context**
This might be a good feature with companies having their own 'internal PyPI proxy' like nexus or artifactory

[2021-04-21 10:20] goern commented on #272
/sig docs
/kind demo

[2021-04-21 18:48] KPostOffice commented on #271
Is this the same issue we had when we had to set `openshift==X.X.Y` in the Pipfile?

[2021-04-22 09:48] pacospace opened #275 "Create a pipeline to gather metrics when a new software stack is provided to repo with model to be deployed."
As Thoth Maintainer,

I want to create a pipeline that gathers metrics from deployed AI App once a new software stack has been provided to the repo.

Initially, I would like to consider a Flask application deployed (then more pipelines for more types of deployments will be implemented (e.g. kfserving, tensorRT)).

Tasks:

- [ ] List model metrics
- [ ] List application metrics
- [ ] Create pipelin

[2021-04-22 09:53] goern commented on #275
/kind feature

[2021-04-26 08:58] fridex commented on #271
See [docs](https://pip.pypa.io/en/stable/user_guide/#constraints-files):

An example can be airflow, they pretty nicely described their needs and [constraint files in their docs](https://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files):

[2021-04-27 08:32] goern opened #277 "create a Thoth+ODH colloquium"
**Is your feature request related to a problem? Please describe.**
As a person interested in AI and ML,
I want to follow thru a colloquium,
so that I can learn how to do data science on ODH
and so that I can learn how to get advise from Thoth
and so that I can learn how to deploy my application

**Describe the solution you'd like**
This is a meta layer on to of the elyra-tutorial, a little bit of

[2021-04-28 09:33] durandom commented on #277
cc @isabelizimm

[2021-04-28 11:33] sesheta commented on #260
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-28 11:33] sesheta commented on #261
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-28 11:33] sesheta commented on #235
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-28 11:33] sesheta commented on #256
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-28 13:24] isabelizimm commented on #277
The media side sounds a bit like the Operate First espresso series (if we were to add an ODH episode). The workshop/code side would be building a more robust version of this workshop (?). If I'm following this correctly.

[2021-04-28 14:33] sesheta commented on #258
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-30 10:29] goern commented on #258
/remove-lifecycle stale

[2021-04-30 10:31] goern commented on #277
@pacospace @isabelizimm @MichaelClifford could you three work on this during the next week?

see also https://docs.google.com/document/d/1Q1cvVxkEoiZkMAV4UratTEFt0dsyRK6Xn7hfLw8-fn8/edit

[2021-04-30 10:31] goern commented on #256
/remove-lifecycle stale

[2021-04-30 10:32] goern commented on #235
/close

[2021-04-30 10:32] sesheta commented on #235
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/235#issuecomment-830002968):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-04-30 10:32] #235 closed

[2021-04-30 12:33] MichaelClifford commented on #277
@goern +1

[2021-04-30 13:50] fridex commented on #271
This was already done. Closing.

/kind demo
/close

[2021-04-30 13:50] #271 closed

[2021-04-30 13:50] sesheta commented on #271
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/271#issuecomment-830109071):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2021-05-04 15:07] goern commented on #266
@KPostOffice any update on kebechets advisor update manager

[2021-05-05 20:28] KPostOffice commented on #266
Yeah, Kebechet administrator isn't working so we are not triggering advises internally rn

[2021-05-06 07:25] goern opened #281 "[spike] on integrating stackrox with aicoe-ci"
Can we learn something from the image and deployment scanning and checking features of StackRox?

https://github.com/stackrox/contributions/tree/main/ci/Tekton

/kind feature
/triage needs-information

[2021-05-06 07:28] goern commented on #266
and what do we need to do to make it work?! :)

[2021-05-12 14:17] harshad16 commented on #272
@goern  can you provide some more information please

[2021-05-17 09:55] goern commented on #272
Assuming that an organization is using something like nexus or artifactory, I wonder how we can configure s2i/tekton/thamos to use these as proxies. How does the PyPI name change influence advisor?

[2021-05-25 13:58] harshad16 commented on #272
https://github.com/thoth-station/thamos#installing-requirements
thamos install -- --proxy socks5h://127.0.0.1:8029 --trusted-host pypi.org

[2021-05-27 07:22] goern commented on #281
/priority backlog
/remove-triage needs-information

[2021-05-27 07:23] goern commented on #272
/remove-triage needs-information

[2021-05-28 12:19] sesheta commented on #260
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-31 08:04] goern opened #283 "provide Ray notebook images"
**Is your feature request related to a problem? Please describe.**
As an ODH user/Data Scientist,
I want to use a Jupyter Notebook Image provided by Thoth
so that I can use Ray packages

**Additional context**
- [ ] make sure Ray is hosted on a PEP503 compliant index
- [ ] add Ray packages to init-job
- [ ] provide integration test to check for Ray guidance by Thoth
- [ ] migrate Erik's repos to t

[2021-05-31 08:07] goern commented on #283
/kind feature
/priority important-soon
/assign @fridex
/assign @harshad16
/assign @erikerlandson

[2021-05-31 08:07] sesheta commented on #283
@goern: GitHub didn't allow me to assign the following users: erikerlandson.

Note that only [thoth-station members](https://github.com/orgs/thoth-station/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/communit

[2021-05-31 10:48] goern commented on #261
/close

[2021-05-31 10:48] sesheta commented on #261
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/261#issuecomment-851402768):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-05-31 10:48] #261 closed

[2021-06-03 14:06] #266 closed

[2021-06-08 13:43] goern opened #286 "extract source repo from solver document"
**Is your feature request related to a problem? Please describe.**
Let's have some logic to parse out the source repo from a solver document, output just one URL to stdout. The function could be prototyped in a jupyter notebook

related: https://github.com/thoth-station/thamos/issues/868

**Describe the solution you'd like**
n/a

**Describe alternatives you've considered**
n/a

**Additional contex

[2021-06-08 13:44] goern commented on #286
seeAlso https://github.com/thoth-station/datasets/tree/master/notebooks/thoth-solver-dataset

[2021-06-09 20:44] KPostOffice commented on #241
@goern I've been thinking about this off and on, but I am having trouble thinking of a reliable way to come up with this list. If the image builder can't trust the list it will likely mean that they have to verify the dependencies anyway and wouldn't save them very much time or effort.

I think in order for the feature to be useful we need to be able to reliably provide the user with **all** depen

[2021-06-10 08:06] goern commented on #265
/unassign goern
/assign @tlegen-k
/kind cleanup

[2021-06-10 08:08] #272 closed

[2021-06-10 13:00] goern commented on #241
/priority backlog

[2021-06-10 13:26] KPostOffice commented on #241
One way to partially solve this is by looking at a binary file's symbol table and associating each symbol with a shared object library. This can be done statically. However, what this misses is the libraries which are loaded at runtime using dlload(). Running the binary and watching for this call will catch some calls, but there can be no guarantees that all packages have been discovered without 1

[2021-06-10 15:41] #260 closed

[2021-06-10 17:58] goern opened #287 "review membership visibility"
Hea, please review your membership visibility at https://github.com/orgs/thoth-station/people would be great if you switch yourself to visible.

While at it, could you also review the 2FA configuration.

thx
//G

/assign @4n4nd
/assign @bjoernh2000
/assign @erikerlandson
/assign @Gregory-Pereira
/assign @HumairAK
/assign @larsks
/assign @LaVLaS
/assign @tlegen-k

/priority important-soon

[2021-06-11 07:42] pacospace commented on #286
isn't it part of python package metadata synced into the database (e.g. `home page`)? cc @fridex

[2021-06-11 07:48] fridex commented on #286
We need a mechanism that detects URL to the GitHub repo. Besides `url`, `download_url` you can state also `project_urls` in the `setup.py` - see [docs](https://packaging.python.org/guides/distributing-packages-using-setuptools/#project-urls). The algorithm that would extract repo from the solver repo has to consider all of these as it is up to project maintainer how these URLs are structured in se

[2021-06-14 14:36] pacospace opened #289 "Scorecards indicators in Thoth recommendations [Tracker]"
**GOAL: Provide Code Review justifications for each dependency used**
https://github.com/thoth-station/thamos/issues/868

To include these indicators in the recommendations, these data needs to be collected for each pypi project linked to GitHub repo, in the best case this can be done per tag.

**Steps**

Part 1
- [ ] RFE: scorecard on tag/commit, Open tag feature upstream;
- [ ] document disclaim

[2021-06-14 15:28] fridex commented on #289
What's the priority of this? CC @goern

[2021-06-15 07:41] goern commented on #289
I created a new GitHub app https://github.com/apps/baboon-the-sourcerer and put the secrets at https://github.com/thoth-station/thoth-application/blob/master/baboon/base/secrets.enc.yaml

[2021-06-15 07:41] goern commented on #289
/priority important-soon

[2021-06-15 07:53] fridex commented on #289
Do we have a higher priority work than this?

[2021-06-15 08:00] goern commented on #289
ja, there are 8 critical-urgent and 80 important-soon issues in our org.

[2021-06-15 08:04] fridex commented on #289
So why there is time spent on this? What is the value of this?

[2021-06-15 09:41] goern commented on #289
good point, a) I'll keep an eye on the critical issues b) @riekrh asked if we can have a look at more security-related indicators bringing more Sec in DevOps. Given the software infrastructure we have for bandit-based SI, I put a soon'ish prior on it for us to explore how to add scorecard-related indicators. c) always feel free to re-prioritize, it's in important sentiment we should share!

[2021-06-15 12:58] fridex commented on #289
IMHO computing and ingesting dependency information data should be prioritized now + have the data lifecycle management in prod done. That way we can keep up with rhel/ubi/fedora releases to support thoth users = we will be able to give recommendations on these runtime environments. Once this will be in place, adding additional information to the recommendations is a manner of evaluating suitabili

[2021-06-22 08:01] pacospace opened #292 "new ps-nlp repo"
### New Repository
new ps-nlp repo

### Requested name for new repository
ps-nlp

### Who should have admin access

### Who should have write access

### What should the repo description be
Thoth Predictable Stack for NLP Applications

### Additional context for request
https://github.com/thoth-station/s2i-minimal-notebook/issues/68

[2021-06-22 08:15] #292 closed

[2021-06-22 11:06] pacospace opened #294 "Have auto generated page with all images provided by thoth service"
**Is your feature request related to a problem? Please describe.**
As Thoth User,
I want to have a look at one web page on https://thoth-station.ninja/ ,
so that it will list all images provided by Thoth service,
and so that the major package of the PS (Pipfile?) are displayed

**Describe the solution you'd like**
Have an auto-generated page with all images provided by thoth service (prefixed `ps-

[2021-06-22 13:07] goern commented on #294
/triage accepted
/priority important-soon
/assign @harshad16
/assign @Gregory-Pereira

[2021-06-22 16:15] harshad16 commented on #294
This task may take more time, as Gregory has more tasks on hand.

[2021-06-24 12:25] erikerlandson commented on #283
I am generating the latest `ray-ml-notebook` from here:
https://github.com/erikerlandson/ray-ubi/tree/main/images/ray-ml-notebook

I build them all with this:
https://github.com/erikerlandson/ray-ubi/blob/main/build.sh

[2021-06-24 17:58] fridex commented on #294
From the design point of view, it would be great to create a page that consumes data from API endpoints rather than creating a tekton task for extracting information from a repo to markdown and subsequently to HTML. There are also other advantages of consuming data from API endpoints:

* thoth can provide additional information about these images - what package versions are available, what shared

[2021-06-24 21:22] erikerlandson commented on #283
A note on how these images are currently created: I install all the python deps into a `pipenv` environment:
https://github.com/erikerlandson/ray-ubi/blob/main/images/ray-ubi/Dockerfile#L57

This has implications for how I invoke the ray processes in the pods (via `pipenv run` in the install dir):
https://github.com/erikerlandson/ray-odh-demo/blob/main/deploy/odh/ray-cluster-template-cm.yaml#L107

[2021-06-28 08:47] goern commented on #283
/kind demo

[2021-06-28 08:55] goern commented on #294
@fridex are you proposing an informational "Images we deliver" microservice?

[2021-06-28 09:28] goern commented on #286
/remove-triage needs-information
/kind demo

[2021-06-28 14:56] goern commented on #286
@bjoernh2000 I think you are working on this, right?

/priority important-soon
/lifecycle active

[2021-06-28 15:02] bjoernh2000 commented on #286
Yes in progress of adding some changes

[2021-06-29 06:16] goern opened #297 "make sure GHSA-4278 is recognized by Thoth"
**Is your feature request related to a problem? Please describe.**
GitHub published https://github.com/advisories/GHSA-4278-2v5v-65r4 which affects some Tensorflow version, Thoth should recognize this "CVE" and advise accordingly.

**Acceptance Criteria**
https://github.com/AICoE/elyra-aidevsecops-tutorial/ should have a merged PR analogue to https://github.com/AICoE/elyra-aidevsecops-tutorial/pul

[2021-06-29 07:10] goern commented on #294
/good-first-issue
/help

[2021-06-29 07:10] sesheta commented on #294
@goern:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://git

[2021-07-01 07:10] goern commented on #277
/priority important-longterm

[2021-07-01 11:17] goern opened #300 "chained rebuilds triggered by upstream new image tag"
**Is your feature request related to a problem? Please describe.**
We have a bunch of layered/chained image builds, that need to be triggered if a base image releases a new tag. How can we automate this process?

**Describe the solution you'd like**
tbd

**Describe alternatives you've considered**
tbd

**Additional context**
seeAlso https://coreos.slack.com/archives/CSPS1077U/p1625136152261600

/t

[2021-07-01 11:28] sesheta commented on #300
@goern: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2021-07-01 15:11] #286 closed

[2021-07-03 16:03] goern commented on #287
@all please check again... thx!

[2021-07-11 01:50] #265 closed

[2021-07-13 09:25] goern commented on #300
/traige accept
/priority backlog
/remove-triage needs-information

[2021-07-13 09:25] goern commented on #300
/triage accepted

[2021-07-13 14:44] harshad16 opened #304 "create a SIG release-eng and its goals"
**Is your feature request related to a problem? Please describe.**
create and describe a SIG for release-eng. Describe elaborately on the expectation of the SIG and its cross-team collaboration

**Acceptance Criteria**
- [ ] new sig directory in `community/`
- [ ] `sig/release-eng` label available on org level

[2021-07-13 14:45] sesheta commented on #304
@harshad16: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-13 14:46] goern commented on #304
/triage accepted
/priority backlog

[2021-07-14 20:26] pacospace commented on #289
Related-To: https://github.com/ossf/scorecard/issues/575

[2021-07-15 08:03] sesheta commented on #281
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 08:03] sesheta commented on #262
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 10:42] sesheta commented on #258
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 10:42] sesheta commented on #252
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 10:42] sesheta commented on #253
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 10:42] sesheta commented on #256
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 10:42] #258 closed

[2021-07-15 10:42] #252 closed

[2021-07-15 10:42] sesheta commented on #253
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/253#issuecomment-880591196):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-07-15 10:42] #256 closed

[2021-07-15 10:42] sesheta commented on #258
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/258#issuecomment-880591186):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-07-15 10:42] sesheta commented on #252
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/252#issuecomment-880591191):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-07-15 10:42] sesheta commented on #256
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/256#issuecomment-880591199):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-07-15 11:10] sesheta commented on #253
@pacospace: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-15 15:17] goern commented on #281
/remove-lifecycle rotten

[2021-07-15 16:46] sesheta commented on #241
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 16:46] sesheta commented on #241
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/241#issuecomment-880855680):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-07-15 16:46] #241 closed

[2021-07-16 05:53] goern commented on #287
thanks all!!
/close

[2021-07-16 05:53] #287 closed

[2021-07-16 05:53] sesheta commented on #287
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/287#issuecomment-881196143):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-07-20 13:33] goern commented on #253
/triage accepted
/assign @goern

[2021-07-21 13:13] goern commented on #253
/unassign goern
/assign pacospace

Please take over the conversation with @dneary

[2021-07-28 11:07] sesheta commented on #283
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-28 11:07] sesheta commented on #283
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/283#issuecomment-888222347):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-07-28 11:32] harshad16 commented on #283
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-28 11:32] sesheta commented on #283
@goern: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2021-07-29 08:07] sesheta commented on #297
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-29 08:07] sesheta commented on #297
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-29 08:07] #297 closed

[2021-07-29 08:07] sesheta commented on #297
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/297#issuecomment-888897990):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-07-31 08:11] sesheta commented on #277
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-31 08:11] sesheta commented on #277
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/277#issuecomment-890309806):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-07-31 08:11] #277 closed

[2021-08-10 14:25] goern opened #308 "[BYON] End to end integration of custom notebook CI/CD to ODH@op1st.cloud"
Bring-your-own-Notebook: End to end integration of custom notebook CI/CD automation integrated in ODH and validated with 3 different use case examples / tutorials / demos.

**Is your feature request related to a problem? Please describe.**
demo an End to end integration of custom notebook CI/CD automation. Notebook should be built and delivered to quay, used in an ODH deployment. Validated with 3

[2021-08-10 14:29] goern opened #309 "Predictable Stack Pattern: Pattern defined and implemented for 3 different stacks."
**High-level Goals**
We want to show how to declare a predictable stack, and how it is automatically maintained using Thoth Guidance Services. We want to give a demo of the predictable stack pattern.

**Describe the solution you'd like**
tbd

**Acceptance Criteria**

- [x] 3 repositories on github.com hosting a predictable stack declaration
- [x] AICoE-CI based pipeline delivering container images

[2021-08-10 14:40] goern opened #310 "Stack guidance service (Thoth Advise) available as community service and integrated in Notebook automation"
**High-level Goals**
Stack Guidance: Stack guidance service (Thoth) available as community service and integrated in Notebook automation and valid recommendations for 10 common use cases.

**Describe the solution you'd like**
tbd

**Describe alternatives you've considered**
tbd

**Additional context**
This is a key result we want to achieve in 21Q3

**Acceptance Criteria**

- [ ] thoth advise is u

[2021-08-11 09:23] goern opened #311 "Ray images available through Thoth guidance."
**High-level Goals**
Provide Ray images to ODH community, build using through Thoth guidance via AICoE-CI, delivered to quay

**Describe the solution you'd like**
tbd

**Describe alternatives you've considered**
n/a

**Additional context**
This is a key result we want to achieve in 21Q4

**Acceptance Criteria**

- [x] (proposed) s2i-ray-thoth is available on ODH/Operate First

**Supporters**
@hars

[2021-08-12 21:05] goern opened #312 "create a Predictable Stack for image processing"
**Is your feature request related to a problem? Please describe.**
Based on the other PS, let's create one for image processing. Overlap with ps-cv is acceptable, as we want to see if Thoth is recommending different packages/versions...

**High-level Goals**
A repository maintained by Kebechet, container image present on ODH/op1st

**Describe the solution you'd like**
tbd

**Describe alternatives

[2021-08-12 21:05] sesheta commented on #312
@goern: GitHub didn't allow me to assign the following users: EldritchJS.

Note that only [thoth-station members](https://github.com/orgs/thoth-station/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/c

[2021-08-13 08:00] goern commented on #308
/priority important-soon

[2021-08-13 08:00] goern commented on #309
/priority important-soon

[2021-08-13 08:00] goern commented on #310
/priority important-soon
/assign @fridex

[2021-08-13 08:01] goern commented on #311
/priority important-soon

[2021-08-13 13:30] erikerlandson commented on #311
I am starting to populate the new ray image build repos under thoth-station

[2021-08-16 06:07] goern commented on #283
see #311
/triage accepted

[2021-08-17 07:32] goern commented on #312
can we "redo" https://fedoramagazine.org/use-opencv-on-fedora-linux-part-2/ as a ODH JupyterBook variant?

[2021-08-17 12:25] goern opened #314 "create a pipeline to fullfill "what Thoth knows about your project" teaser feature"
**Is your feature request related to a problem? Please describe.**
in support of https://github.com/AICoE/meteor/issues/92 we deploy a service that will take a user repos, and create a PR containing a Thoth Advise. This is basically what Kebechet's thoth-advise manager does, but invoked in a different way.

**High-level Goals**
A microservice and an Argo Workflow to implement this. SLO Metrics and

[2021-08-17 12:32] goern opened #315 "review Kebechet PR user experience"
**Is your feature request related to a problem? Please describe.**
do a user experience review on all the PR opened by Kebechet, is the data good, can we give more information...

**High-level Goals**
better UX for Kebechet

**Describe the solution you'd like**
tbd

**Describe alternatives you've considered**
tbd

**Additional context**
tbd

**Acceptance Criteria**
- [ ] a more informative and cle

[2021-08-17 13:18] goern commented on #314
/triage accepted
/assign @KPostOffice

[2021-08-17 17:31] erikerlandson opened #316 "on the 'deliver container image' issue form, notify and publish build link to issue"
**Is your feature request related to a problem? Please describe.**
When submitting an issue to deliver a new container image build tag, for example:
https://github.com/thoth-station/ray-operator/issues/5

It would be useful for sesheta to add a comment on the issue when it kicks off the image build pipeline,
with a link to the build pipeline run.

**High-level Goals**
- add a comment with link to

[2021-08-18 08:59] goern commented on #314
@harshad16 @KPostOffice maybe the artifact/service we deliver here is not a restful microservice, but a Tekton pipeline?!

[2021-08-18 14:44] erikerlandson opened #317 "remove unused-but-failing steps from pipelines"
**Is your feature request related to a problem? Please describe.**
As an AICOE-CI user, it is confusing to look up my aicoe-ci pipelines in the tekton dash and see many failed steps, that are unused and do not impact the "true" success of the pipeline.  It makes it difficult to understand when a real failure has happened.

**High-level Goals**
- Clean up pipelines so that only relevant steps are e

[2021-08-18 15:18] erikerlandson commented on #311
currently blocked by https://github.com/AICoE/aicoe-ci/issues/130

[2021-08-18 16:01] goern opened #318 "microservice deployable on op1st (or a tekton pipeline)"

[2021-08-19 06:02] goern commented on #312
/priority important-soon

[2021-08-19 06:04] goern commented on #316
/triage accepted
/priority important-soon
/help

[2021-08-19 06:04] sesheta commented on #316
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/core/

[2021-08-19 20:32] pacospace opened #319 "document how to create a new repo in thoth station"
**Is your feature request related to a problem? Please describe.**
As Thoth Contributor,

I would like to have a document on how to get new repo and configure it.

**High-level Goals**
Have a document on how to get new repo and configure it.

**Describe the solution you'd like**
Document on how to get new repo and configure it.

**Describe alternatives you've considered**

**Additional context**
A

[2021-08-19 20:35] goern commented on #319
@tumido @quaid have you guys done this for op1st, so that we can borrow it?

[2021-08-19 21:29] quaid commented on #319
Is this what you need?

https://github.com/operate-first/community-handbook/blob/main/content/how-to-request-a-repository.md

That's the Operate First Community Handbook, the new, growing go-to location for everything a contributor needs.

[2021-08-20 07:07] goern commented on #319
@quaid cool thanks, but we are actually looking for the opposite side of the issue: how to implement it (creating the repo on GitHub),

An issue opened based on https://github.com/operate-first/community-handbook/blob/main/content/how-to-request-a-repository.md would be "answered" with something similar to https://github.com/thoth-station/core/pull/320 which would close the issue on merge.

Why do

[2021-08-20 10:43] pacospace opened #322 "Kebechet overview dashboard and web page"
**Is your feature request related to a problem? Please describe.**
As User of Kebechet,

I would like to have an overview of the use of Kebechet:

As Maintaer of Kebechet,

I would like to have a look at a dashboard with all metrics related to Kebechet

**High-level Goals**
- Have a dashboard with all Kebechet metrics (usage and operational + SLI/SLO).
- Fill landing page with all required data

*

[2021-08-20 10:45] goern commented on #322
Will this provide all the data required to fill in the blanks at https://goern.github.io/kebechet-universe/ ?

[2021-08-20 10:46] pacospace commented on #322
Yes it is part of the acceptance criteria!

[2021-08-23 17:42] sesheta commented on #294
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-23 17:42] sesheta commented on #300
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-23 17:42] sesheta commented on #300
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-23 17:42] sesheta commented on #294
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-23 20:42] sesheta commented on #304
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/304#issuecomment-904111840):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-08-24 02:42] sesheta commented on #262
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 02:42] sesheta commented on #281
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 02:43] #262 closed

[2021-08-24 02:43] sesheta commented on #262
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/262#issuecomment-904277008):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-08-24 09:20] goern commented on #300
/remove-lifecycle rotten

[2021-08-24 09:27] goern commented on #304
/remove-lifecycle rotten

[2021-08-24 12:13] pacospace commented on #322
Related-To: https://github.com/thoth-station/slo-reporter/issues/210

[2021-08-24 23:43] sesheta commented on #253
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 23:43] sesheta commented on #253
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 23:43] sesheta commented on #253
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/253#issuecomment-905047292):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-08-31 08:48] goern commented on #315
/priority important-soon
/triage accepted
/cc @pacospace

[2021-08-31 08:48] goern commented on #319
/sig docs
/priority important-soon
/triage accepted

[2021-08-31 08:49] goern commented on #319
/help

[2021-08-31 08:49] sesheta commented on #319
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/core/

[2021-08-31 13:57] goern opened #324 "calculate change rate and complexity per software stack"
**Is your feature request related to a problem? Please describe.**
Per Predictable Stack, we want to generate metrics wrt the complexity and the change rate in the stack

E.g. the Elyra tutorial declares N direct dependencies. They translate to X transitive dependencies. There is a change of in average Y updates per day/week/months (whatever makes sense). Out of those Z% are security-relevant chan

[2021-09-01 09:30] pacospace opened #325 "Automate update of dependencies + release of image for ps-* repos."
**Is your feature request related to a problem? Please describe.**
I want bots to take care of all stacks and repos with ps-* stacks, so that I can focus on my project and not worry about dependencies and images.

**High-level Goals**
- [ ] ps-* repos are completely maintained by bots.

**Describe the solution you'd like**
Automatic release once a new update from the bot is added.

**Describe alte

[2021-09-01 12:47] pacospace opened #326 "[5pt] Make sure ps-stacks can receive recommendation from Thoth"
**Describe the bug**
As User of Thoth PS images,

I want to have continous updates on software stacks to be maintained by Thoth services.

**To Reproduce**
Steps to reproduce the behavior:
1. Run thamos advise on all ps-stacks

**Expected behavior**
All ps-* stacks can be advised by Thoth (all integration tests are green for ps-stacks: https://github.com/thoth-station/integration-tests/issues/204)

[2021-09-01 15:23] pacospace commented on #319
@harshad16 pointed me to https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos, we can mention what to open in the PR and described a bit more what is happening, wdyt @goern ?

[2021-09-02 10:40] pacospace commented on #308
Tutorials:

- [ ] manage-dependencies-tutorial
- [ ] recommend-base-image-tutorial
- [ ] overlays-for-ai-pipeline-tutorial
- [ ] receive-feedback-on-deployment-tutorial

Source: https://docs.google.com/document/d/14a87wrf17C4kfsBsW5SyhLI07sSEAji1Ep6ewxk57K0/edit#

[2021-09-03 09:28] pacospace commented on #308
Pre-requisites: https://github.com/AICoE/aicoe-ci/issues/137
Pre-requisites: https://github.com/thoth-station/jupyterlab-requirements/issues/345
Pre-requisites: https://github.com/AICoE/aicoe-ci/issues/136

[2021-09-06 09:00] pacospace commented on #319
Moreover point to some specific things, dependending on the use case: https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-permission-levels-for-an-organization

[2021-09-06 09:03] pacospace commented on #319
Remember to add repos under SrcOps for the bots: https://github.com/AICoE/common/pull/23#discussion_r702728025

[2021-09-09 12:32] goern commented on #294
seealso https://chat.google.com/room/AAAAVjnVXFk/VZ0XU6CE0mI

[2021-09-10 13:09] pacospace commented on #294
cc @harshad16, https://github.com/thoth-station/thoth-application/issues/1851

[2021-09-12 08:24] sesheta commented on #309
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-12 08:24] sesheta commented on #310
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-12 08:24] sesheta commented on #309
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/309#issuecomment-917588340):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-12 08:24] sesheta commented on #310
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/310#issuecomment-917588344):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-13 06:37] goern commented on #312
/triage accepted

@EldritchJS @pacospace any updates on this?

[2021-09-13 06:39] goern commented on #322
@KPostOffice @xtuchyna any update on this?!

[2021-09-13 07:33] pacospace commented on #312
Depends-On: https://github.com/thoth-station/support/issues/17
Depends-On: https://github.com/thoth-station/support/issues/16

[2021-09-14 14:20] pacospace commented on #319
Document also how to enable prow on repos, see https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/smaug/config.yaml#L248

[2021-09-15 08:26] sesheta commented on #283
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-15 08:26] sesheta commented on #283
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/283#issuecomment-919809420):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-15 08:26] #283 closed

[2021-09-15 09:56] goern opened #328 "show image analysis on RHACM reports"
**Is your feature request related to a problem? Please describe.**
As an Operator of ODH,
I want to use RHACM Governance and Risk features,
so that all the modules of a Jupyter Notebook are under active maintenance, even if they are installed from upstream

**High-level Goals**
Show how image analysis by Thoth can be used to implement Governance and Risk management of an ODH via RHACM

**Describe

[2021-09-15 09:57] goern commented on #326
/priority important-soon
/assign @codificat
/triage accepted

[2021-09-15 11:26] sesheta commented on #289
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-15 11:26] sesheta commented on #289
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/289#issuecomment-919934748):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-15 11:26] #289 closed

[2021-09-15 12:43] sesheta commented on #289
@pacospace: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-09-15 13:54] pacospace commented on #322
Related-To: https://github.com/thoth-station/kebechet/issues/679#issuecomment-904277124, https://github.com/thoth-station/kebechet/issues/546

[2021-09-16 09:06] pacospace opened #343 "Use an automated script in a pipeline to generate prescriptions from image analyzed"
**Is your feature request related to a problem? Please describe.**
See: https://github.com/thoth-station/prescriptions/issues/17212
See: https://github.com/AICoE/recommend-base-image-tutorial/issues/1#issuecomment-917929545

**Describe the solution you'd like**
Use an automated script in a pipeline to generate prescriptions from image analyzed

**Describe alternatives you've considered**

**Additi

[2021-09-17 17:27] sesheta commented on #311
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-17 17:27] sesheta commented on #314
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-17 17:27] sesheta commented on #314
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/314#issuecomment-921962028):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-17 17:27] sesheta commented on #311
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/311#issuecomment-921962025):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-23 05:30] sesheta commented on #281
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 05:30] sesheta commented on #281
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 05:30] #281 closed

[2021-09-23 05:30] sesheta commented on #281
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/281#issuecomment-925517064):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-23 09:24] codificat opened #330 "[tracker] Update and expand Thoth architecture diagrams"
**Is your feature request related to a problem? Please describe.**

Thoth is relatively complex, and it can be challenging to understand what are all the components and their interactions - both internal and external.

**High-level Goals**
list of high-level Acceptance Criteria/Goals (that is signed off by the team, and unchangeable)

As an individual who wants to understand how Thoth works, I wou

[2021-09-23 09:30] pacospace commented on #330
See also investigator docs: https://github.com/thoth-station/investigator

[2021-09-23 09:35] codificat commented on #330
Also possibly related / could be part of this: https://github.com/thoth-station/core/issues/253

[2021-09-23 10:27] pacospace commented on #330
that issue might be closed, as we will consider sig-store, maybe it can be repurposed

[2021-09-23 14:30] sesheta commented on #300
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 14:30] sesheta commented on #300
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 14:30] sesheta commented on #304
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 14:30] sesheta commented on #304
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 14:30] sesheta commented on #300
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/300#issuecomment-925870727):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-23 14:30] #304 closed

[2021-09-24 08:31] sesheta commented on #253
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 08:31] sesheta commented on #253
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 08:31] sesheta commented on #253
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/253#issuecomment-926446838):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-24 11:39] dneary commented on #253
I am unclear if there is any conversation to be had - @pacospace is this something we should spend time on?

[2021-09-27 09:40] goern commented on #311
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2021-09-27 09:40] sesheta commented on #311
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/311#issuecomment-927699217):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2021-09-27 09:41] goern commented on #310
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2021-09-27 09:41] sesheta commented on #310
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/310#issuecomment-927699422):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2021-09-27 09:41] goern commented on #309
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2021-09-27 09:41] sesheta commented on #309
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/309#issuecomment-927699492):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2021-09-27 09:50] pacospace commented on #309
- [ ] create a sequence diagram

[2021-09-27 13:26] pacospace opened #331 "Have docs on how to include new prescriptions in adviser"
**Is your feature request related to a problem? Please describe.**
As Thoth Maintainer,

I would like to know how to include new prescriptions in adviser.

**Describe the solution you'd like**
Have docs on how to include new prescriptions in adviser.

**Describe alternatives you've considered**

**Additional context**

**Acceptance Criteria**
- [ ] docs are provided in this repo.

[2021-09-27 13:30] harshad16 commented on #331
I feel this issue should be moved to the prescriptions repo. This would have more value there and users would have to do less click to reach the docs.

Details:
Prescriptions are released as the **blob**, we use the release of tag, as it captures all information.
Then the adviser is released, during the tag release session, the s2i process clones the prescriptions repo with the latest tag informat

[2021-09-27 13:32] pacospace commented on #331
Thanks @harshad16 🚀 , feel free to transfer the issues!

[2021-09-27 14:14] goern commented on #311
@erikerlandson any update on this?!

[2021-09-27 14:26] erikerlandson commented on #311
@goern   https://github.com/AICoE/aicoe-ci/issues/130

[2021-09-29 12:03] pacospace commented on #330
![Kebechet Schema-Kebechet advise (external trigger) (3)](https://user-images.githubusercontent.com/27498679/135264696-86be62d9-2a6c-4bca-a643-94b89cca4201.jpg)

[2021-09-29 12:03] pacospace commented on #330
![Kebechet Schema-Kebechet advise (external trigger) (2)](https://user-images.githubusercontent.com/27498679/135264716-9a2d3f1b-d256-45b0-a46e-2cd3d131717c.jpg)

[2021-09-30 09:23] pacospace commented on #330
![Kebechet Schema-Kebechet advise (internal trigger - package release) (1)](https://user-images.githubusercontent.com/27498679/135425783-b9e32889-6bad-463d-b7da-35adc4da4946.jpg)

[2021-09-30 09:24] pacospace commented on #330
![Kebechet Schema-Kebechet advise (internal trigger - package release) (1)](https://user-images.githubusercontent.com/27498679/135425966-3126d237-7759-477b-beec-9d0413975170.jpg)

[2021-09-30 09:25] pacospace commented on #330
![Kebechet Schema-Kebechet advise (internal trigger - package release)](https://user-images.githubusercontent.com/27498679/135426002-c453af47-e8f3-46ff-9a06-0671e5db74d4.jpg)

[2021-09-30 11:32] sesheta commented on #315
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-30 11:32] sesheta commented on #315
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-30 11:32] #315 closed

[2021-09-30 11:32] sesheta commented on #315
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/315#issuecomment-931238426):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-30 12:16] pacospace commented on #308
currently blocked by: https://github.com/operate-first/SRE/issues/382, I need kfp for two of the tutorials!

[2021-09-30 14:32] sesheta commented on #324
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-30 14:32] sesheta commented on #324
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-30 14:32] sesheta commented on #324
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/324#issuecomment-931378165):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-10-01 07:16] goern commented on #312
Hey Fellows, what is the status on this one?!

[2021-10-01 07:18] goern commented on #309
@harshad16 could you try to wrap this up the next week? It looks like all the parts are in place. A short writeup how we deliver the PS to ODH could deliver this key result.

[2021-10-01 07:24] goern commented on #330
/triage accepted
/priority important-soon
/assign @pacospace
/assign @codificat
/kind demo

[2021-10-01 07:25] goern commented on #325
@pacospace is this a dup of #326 ?

[2021-10-01 07:27] goern commented on #319
The issue comment point to the right pieces, they just need to be written up!

@tumido @quaid can any of the op1st ppl do it?

[2021-10-01 07:32] goern commented on #319
https://github.com/thoth-station/thoth-application/issues/1992

[2021-10-01 07:34] pacospace commented on #312
Two issues commented depends on https://github.com/thoth-station/support/issues/17#issuecomment-908048959

[2021-10-01 09:48] pacospace commented on #325
Not a duplicate, #326 is to make sure adviser can solve all stacks in ps images. This one is to automate the release, everytime a new update came in from Kebechet, without the need for us to go and open an issue for release.

[2021-10-01 13:13] pacospace commented on #330
new Thoth diagram https://app.diagrams.net/#G1XN1L8KLNtUNPIYL1QHEFcBv6lvcjN63M
![Thoth diagrams](https://user-images.githubusercontent.com/27498679/135625487-ebd2825d-da00-4d11-8115-0e3850178e3e.jpg)

[2021-10-04 11:32] codificat commented on #330
Many thanks for these diagrams @pacospace, they look great!

Some comments about them:
- For the first two (internal and external triggers) I would probably just use the complete version of each. Maybe make the "main flow" black line slightly thicker, like you did with the last of the diagrams, for better clarity... but at that level of detail, we probably don't need a "more simple" version of eac

[2021-10-04 12:35] goern commented on #325
oh, got that

[2021-10-04 12:40] goern commented on #308
/remove-priority important-soon
/priority backlog

[2021-10-04 13:54] pacospace commented on #330
I ll adjust those thanks!

what kind of high level ones are we talking about? is the thoth diagram good for high level of all components we maintain?

Sounds good to open one for each diagram we want, thanks!

I ll check why the links do not work!

[2021-10-05 06:51] pacospace commented on #325
Yes so they can maintain those repos without humans ;D

[2021-10-05 07:26] goern commented on #289
/triage accepted

Let's put this for Q4 as a key result, syn?

[2021-10-05 07:37] goern commented on #325
/priority important-soon

[2021-10-06 09:37] pacospace opened #333 "new Thoth component: CVE refresh cronworkflow"
**Is your feature request related to a problem? Please describe.**
Thoth currently learns about CVE using `CVE-update` component, which sends the CVE message to investigator and lets Kebechet open PRs in repos that are impacted. (actually if security recommendation is not enabled in the user repo, the CVE is not removed, so also something to adjust)

What if the message to Kafka is lost for some r

[2021-10-06 15:02] codificat commented on #289
The solution currently proposed is to use prescriptions for this. See a detailed explanation
[here](https://github.com/thoth-station/prescriptions-refresh-job/pull/14#issuecomment-922884202)

[2021-10-07 22:47] erikerlandson commented on #316
A related feature: if it is possible, it would be nice to have an even earlier message that says something such as  "I received your build request and it is in my que", to handle the scenario where build doesn't start immediately due to system load for example

[2021-10-11 09:28] #333 closed

[2021-10-13 11:46] fridex commented on #312
@EldritchJS Sadly, we do not have the python package index fully operational yet. Once the new cluster is provisioned, we can setup a package index and host wheels there. @harshad16 can have ETA or updates on progress.

Do the wheel files you are building pass auditwheel to be manylinux complaint? The reason I'm asking - we can host both, manylinux compliant but also non-manylinux builds (unlike P

[2021-10-13 12:50] harshad16 opened #336 "Security confidence addition to the images for more clear traceability and security"
**Is your feature request related to a problem? Please describe.**

The plan is to have a process in place to add score/confidence based on the base image and package security into the image during the build time. we would focus on the provenance of the package and the base image source confidence. The aggregation would be provided in the image for the details for the user to view and verify that

[2021-10-13 12:53] codificat commented on #336
Discussed this in today's backlog meeting, decided to move to core repo but otherwise leave for further decisions on priority.

/kind feature
/triage needs-informafion
/priority backlog

[2021-10-13 13:39] EldritchJS commented on #312
@fridex At the moment the only way I've built this has been `pip install git+https://github.com/eldritchjs/jpegio` and similar for pyIFD. I will read up on what you mention here and attempt to get answers to your queries. Thanks!

[2021-10-13 15:33] codificat commented on #336
oh, I had a typo:
/triage needs-information

and while we are at it: leaving the needs-information label because it was unclear during today's review how important/relevant this is at the moment, considering that #289 was replaced by a different approach (thoth-station/prescriptions-refresh-job#14) and that this type of metadata probably should not stay into the container image anyway.

[2021-10-14 14:23] EldritchJS commented on #312
@fridex jpegio manylinux2014 and manylinux_2_24 wheels are now in pypi!

[2021-10-19 14:44] goern opened #341 "Local development integration with toolbox for Python 3.9 and RHEL9"
A suggested edit of this issue's description that expands it and incorporates #342:

# Local development integration with toolbox for Python 3.9 and RHEL9

Based on the Jupyter Notebook images we provide, we want to provide [toolbox](https://github.com/containers/toolbox) enabled images that can be used to run a jupyter notebook on a local laptop.

This is a migration step during bringing your own

[2021-10-19 14:44] sesheta commented on #341
@goern: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2021-10-20 08:29] goern opened #342 "provide Python 3.9 based toolchain"
**Is your feature request related to a problem? Please describe.**
As the upcoming RHEL9 will use Python 3.9, we need to prepare our toolchain for this.

**Describe the solution you'd like**
s2i-thoth and thoth-infra need to be updated. pytest and mypy toolchain needs to be provided for py39

**Describe alternatives you've considered**
n/a

**Additional context**
tbd

**Acceptance Criteria**

- [

[2021-10-20 14:55] goern commented on #310
/milestone OKR review Q4 2022

[2021-10-20 14:57] goern commented on #309
/milestone OKR review Q4 2022

[2021-10-21 09:01] fridex opened #344 "Provide vulnerability information on container images"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to get guidance on the container images I'm using. Similarly, as Thoth provides CVE information on Python modules level, users of Thoth should get guidance on container images they use.

**Describe the solution you'd like**

Similarly, as for CVEs we obtain from PyPA/advisory-db, we could obtain a

[2021-10-21 13:51] harshad16 opened #346 "write a short summary on gpu images as justifications"
What about substituting the link and writing a short summary on that and having it available in justifications? https://thoth-station.ninja/justifications

The recommendation message could be also rephrased to respect that.

_Originally posted by @fridex in https://github.com/thoth-station/prescriptions/pull/18524#discussion_r733383270_

[2021-10-27 13:12] goern opened #345 "provanance checking and reporting based on SigStore"
**Is your feature request related to a problem? Please describe.**
tbd

**High-level Goals**
With the current provenance checking method, we provide some valid to the user, to increase the potential value, we want to base provenance checks based on sigstore. This way we could report which parts of the software stack lack strong supply chain security and suggest actions to the developers #DevSecOps

[2021-11-01 12:23] fridex opened #384 "Data driven decisions based on data from PyPI"

[2021-11-09 11:29] codificat commented on #341
A suggested edit of this issue's description that expands it and incorporates #342:

# Local development integration with toolbox for Python 3.9 and RHEL9

Based on the Jupyter Notebook images we provide, we want to provide [toolbox](https://github.com/containers/toolbox) enabled images that can be used to run a jupyter notebook on a local laptop.

This is a migration step during bringing your own

[2021-11-09 12:11] codificat commented on #341
/milestone OKR review Q1 2022

[2021-11-11 10:28] codificat commented on #342
/priority important-soon
/triage accepted

[2021-11-11 11:13] codificat commented on #253
There was a bug in prow at the time of that comment: it was not rotten back then (and certainoy not for 30 days). That bug is now fixed.

/reopen
/lifecycle frozen

[2021-11-11 11:13] sesheta commented on #253
@codificat: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/253#issuecomment-966217288):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-11-11 11:18] codificat commented on #253
/remove-lifecycle rotten
/lifecycle frozen

[2021-11-12 09:06] codificat commented on #300
the bot closed incorrectly
/reopen
/remove-lifecycle rotten

[2021-11-12 09:06] sesheta commented on #300
@codificat: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/300#issuecomment-966938465):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-11-12 11:54] codificat opened #350 "Explain Thoth as a server-side dependency resolver"
**Is your feature request related to a problem? Please describe.**

As a Python developer I would like to understand the benefits that Thoth brings to my Python development workflow as a dependency resolution engine, so that I can better consider the pros and cons of Thoth-powered server-side resolution of package dependencies when compared to the current local resolvers.

**High-level Goals**

Sh

[2021-11-12 11:59] codificat commented on #350
/kind demo

[2021-11-18 15:23] codificat commented on #350
/sig docs

[2021-11-22 17:18] goern commented on #328
see also https://github.com/thoth-station/thoth-application/issues/2137#issuecomment-964553107 and https://chat.google.com/room/AAAAVjnVXFk/bnLGL_-tlhk

[2021-11-23 15:44] fridex opened #356 "Perform dynamic source code analysis to give more security related guidenance"
**Is your feature request related to a problem? Please describe.**

I, as a Thoth user, would like to consume recommendations that are derived out of dynamic source code analysis. As of now, we provide results of static source code analysis in SI workflow (derived out of tools such as bandit and cloc). Besides these static analyzers, I would like to know aspects of my application with respect to c

[2021-11-23 15:44] sesheta commented on #356
@fridex: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-11-25 12:05] codificat commented on #350
/triage accepted
/priority important-soon
/lifecycle active
/assign @mayaCostantini

[2021-11-25 15:35] codificat commented on #330
/sig docs

[2021-11-30 18:26] mayaCostantini opened #357 "Use the Instruqt platform to create Thoth dependency resolution tutorials"
**Is your feature request related to a problem? Please describe.**
As a new user of Thoth, I would like to learn how to use the `thamos` CLI tool to resolve dependencies in my projects in an interactive way and be able to compare it to other types of resolvers.

**High-level Goals**
The main goal would be to show how Thoth resolves dependencies in a user-friendly way, using the different options (

[2021-11-30 18:29] mayaCostantini commented on #357
/kind demo
/sig docs

[2021-12-01 12:21] fridex opened #358 "Provide SLA and license for the cloud based resolver community"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to see what is SLA and what I can expect+what is expected by me when using Thoth's cloud resolver.

**Describe the solution you'd like**

- [ ] sync on legal things of this effort
- [ ] provide a services description for all our endpoints
- [ ] provide an SLA document that is approved
- [ ] have SL

[2021-12-01 13:30] codificat commented on #314
this was not rotten back then - bot bug, fixed now
/reopen
/remove-lifecycle rotten

[2021-12-01 13:30] sesheta commented on #314
@codificat: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/314#issuecomment-983643451):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-12-01 15:25] codificat commented on #322
/lifecycle active

[2021-12-02 14:06] codificat opened #359 "Automate cascade releases for s2i images"
**Is your feature request related to a problem? Please describe.**

Every time an update is released is made on a package that is part of a base image, we have to wait for the change to be included in the whole chain of images that contain that package.

For example, an update can take this path: s2i-minimal ->  s2i-lab -> s2i-custom-notebook, and only then we can use the actual "end user focused"

[2021-12-03 08:52] pacospace commented on #308
Still blocked by https://github.com/operate-first/support/issues/435

[2021-12-03 08:57] pacospace commented on #343
see https://github.com/thoth-station/prescriptions/pull/18523#issuecomment-961368531 from @fridex

[2021-12-06 11:02] fridex opened #360 "Move away from setuptools and use pyproject.toml instead"
**Is your feature request related to a problem? Please describe.**

As Thoth, I would like to get rid of setuptools and start using pyproject.toml-based projects as that's how Python community is shifting.

[2021-12-07 13:21] fridex opened #361 "Audit containerized environments"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to submit my container image to Thoth services and Thoth should give me results of analyses that will tell me if content in the containerized environment is known and if there are any issues associated with the container image and its security.

**Describe the solution you'd like**

Extend containe

[2021-12-09 10:27] goern commented on #343
/priority important-soon

[2021-12-09 10:27] goern commented on #359
/priority important-soon

[2021-12-09 10:32] goern commented on #358
/priority important-soon
/triage accepted

[2021-12-14 09:20] sesheta commented on #294
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-14 17:19] codificat commented on #294
/remove-lifecycle stale

[2021-12-15 13:15] codificat opened #363 "BYON pipelines can be installed via Helm charts"
## Problem statement

As a Platform Operator,
I want to install a tool via Helm charts that allows builds of images that can be used for ML projects.

## High-level Goals

## Proposal description

### Alternatives

### Additional context

See https://github.com/thoth-station/helm-charts/

## Acceptance Criteria

- [ ] example

[2021-12-15 15:17] codificat commented on #308
/remove-lifecycle active

[2021-12-15 15:25] pacospace commented on #308
/lifecycle active

[2021-12-15 16:10] pacospace commented on #312
As discussed, we will keep those issues to work later on them and we can consider this issue/KR done!

[2021-12-15 16:13] codificat commented on #363
/transfer-issue helm-charts

[2021-12-16 20:24] codificat commented on #363
this didn't quite work, so
/close
and I will open it there

[2021-12-16 20:24] #363 closed

[2021-12-16 20:24] sesheta commented on #363
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/363#issuecomment-996168271):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-12-20 10:19] fridex opened #365 "Use SARIF schema when reporting flaws to GitHub"
**Is your feature request related to a problem? Please describe.**

See https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning

[2021-12-21 08:38] goern opened #366 "create SBOM for software stack provided"
**Is your feature request related to a problem? Please describe.**
As a feature to support a more secure software supply chain, Thoth should generate a [SBOM](https://en.wikipedia.org/wiki/Software_bill_of_materials), for each advise requested, and build via a Tekton task. #needsRefinement

A SBOM is not a security tool but it is a means to improve security, it can’t guarantee “vulnerability-free”

[2021-12-21 09:52] codificat commented on #322
/triage accepted

[2021-12-21 12:50] codificat commented on #359
/triage accepted
as this was the intention from the tech talk where this was proposed

[2021-12-21 15:04] #310 closed

[2021-12-21 15:04] sesheta commented on #310
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/310#issuecomment-998851609):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](h

[2021-12-21 15:12] codificat commented on #309
/triage accepted
as this is mostly complete.

Only pending is some additional documentation.

[2021-12-21 15:18] codificat commented on #343
/triage accepted
/lifecycle active

[2021-12-21 15:28] codificat commented on #357
/triage accepted

[2021-12-21 15:32] codificat commented on #360
/assign @fridex
to refine a bit more, especially by providing a list of acceptance criteria referencing all the parts/components that would be impacted

[2021-12-21 15:51] codificat commented on #343
/triage accepted
/lifecycle active

[2021-12-22 11:25] #343 closed

[2021-12-22 11:27] codificat commented on #360
/triage needs-information

[2022-01-03 09:23] sesheta commented on #325
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-06 15:23] sesheta commented on #316
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-10 09:31] goern commented on #365
which component would report these flaws? how is the discovery of flaws triggered?

[2022-01-14 13:48] goern commented on #326
any update on this?

[2022-01-16 15:24] sesheta commented on #319
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-17 08:41] goern commented on #319
/remove-lifecycle stale

[2022-01-18 11:03] goern commented on #314
what is the status of this?

[2022-01-18 11:05] goern commented on #328
/priority backlog
/lifecycle frozen

[2022-01-18 11:05] goern commented on #366
/priority backlog
/lifecycle frozen

[2022-01-19 08:46] pacospace opened #383 "Introduce jupyterlab collaborative"
**Is your feature request related to a problem? Please describe.**
Introduce jupyterlab collaborative: https://jupyterlab.readthedocs.io/en/latest/user/rtc.html

**Describe the solution you'd like**
- [ ] Verify with SIG DS if the team is interested
- [ ] Implement https://github.com/thoth-station/s2i-minimal-notebook/pull/80/files

**Describe alternatives you've considered**

**Additional context

[2022-01-19 16:26] harshad16 commented on #346
/lifecycle frozen

freezing it till i get the docs in place.

[2022-01-26 11:25] fridex opened #371 "Endpoint for triggering initialization of a repository by Thoth"
## Problem statement

As a user of Thoth, or as an integration for Thoth services, I would like to trigger a workflow on Thoth's backend that verifies content of my repository and makes sure it is in a healthy state.

- [ ] https://github.com/thoth-station/user-api/pull/1526
- [ ] ...

[2022-01-26 14:36] harshad16 commented on #311
These would be the repos that would contain the ray content:
https://github.com/thoth-station/ray-operator
https://github.com/thoth-station/ray-ml-worker
https://github.com/thoth-station/ray-ml-notebook

All the images are built through them:
- https://quay.io/repository/thoth-station/ray-ml-worker?tab=tags
- https://quay.io/repository/thoth-station/ray-operator?tab=tags
- https://quay.io/reposito

[2022-01-26 14:36] #311 closed

[2022-01-26 14:47] harshad16 opened #372 "Bring updated Ray images to Operate-first cloud"
## Problem statement
we would like to provide the operate-first community the Ray notebook along with the Ray cluster.
This would allow users in the community to do computation with ray packages.

## High-level Goals
- [ ] Availability of ray-based notebook on the operate-first instance of jupyterhub

## Proposal description
Get all the images built for the ray cluster into the operate-first/apps

[2022-01-31 11:39] goern commented on #372
/priority critical-urgent
/triage accepted

[2022-01-31 12:39] pacospace opened #373 "workflow latency (per manager)"

[2022-01-31 12:39] sesheta commented on #373
@pacospace: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-01-31 12:43] pacospace commented on #322
The initial dashboard is available at: https://grafana.operate-first.cloud/d/bBFI9MJnk/kebechet-monitoring?orgId=1 cc @hemajv

[2022-01-31 13:05] pacospace commented on #322
We need to extend dashboard with Kebechet github metrics cc @xtuchyna

[2022-01-31 19:24] codificat commented on #365
/triage needs-information

[2022-02-01 15:37] mayaCostantini commented on #357
/close
Implemented on Red Hat Scholars https://github.com/redhat-scholars/managing-vulnerabilities-with-thoth

[2022-02-01 15:37] #357 closed

[2022-02-01 15:37] sesheta commented on #357
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/357#issuecomment-1026980294):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-02-02 09:26] sesheta commented on #325
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-02 11:58] codificat commented on #308
/remove-lifecycle active
as development on the tutorials is currently blocked

[2022-02-05 15:26] sesheta commented on #316
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-07 14:21] goern opened #377 "OCTO Summit Demo"
OCTO summit Demo is showcasing an end-to-end demonstration of various tools, components, and services from the realm of OCTO. As a part of this, Thoth tools and aicoe ci/cd is included.  we have to ensure catering to the needs of the demo.

**Acceptance criteria**

- [x] CI/CD tool can build and deliver image artifacts for deployment.
  - [x]  Allow multi-build service via CI.
  - [x]  Support mul

[2022-02-07 14:21] sesheta commented on #377
@goern: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-02-07 15:31] harshad16 commented on #377
/triage accepted
/lifecycle active
/priority critical-urgent

[2022-02-08 15:46] xtuchyna commented on #322
Waiting for https://github.com/thoth-station/thoth-application/issues/2333 to be resolved

[2022-02-09 12:27] sesheta commented on #342
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-10 09:27] sesheta commented on #300
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-14 22:42] codificat commented on #316
/remove-lifecycle rotten
/sig user-experience

[2022-02-15 14:54] codificat commented on #366
/triage needs-information

[2022-02-15 14:58] codificat commented on #371
/assign @KPostOffice
/triage accepted

[2022-02-15 15:02] fridex commented on #345
It might be a good idea to wait for upstream to establish signing artifacts before proceeding with this one - see [PEP-480](https://www.python.org/dev/peps/pep-0480/). Let's wait for upstream implementation for this and standards established to have proper implementation following Python packaging standards.

[2022-02-15 15:03] fridex commented on #361
Related: https://github.com/thoth-station/core/issues/366

[2022-02-15 15:03] fridex commented on #366
Related: https://github.com/thoth-station/core/issues/361

[2022-02-15 15:34] codificat commented on #345
/triage accepted
/priority important-longterm

[2022-02-16 09:50] sesheta commented on #383
@pacospace: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-02-16 09:56] sesheta commented on #384
@fridex: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-02-16 10:00] goern commented on #350
any updates on this? do we consider it done?

[2022-02-16 10:05] goern commented on #314
any updates on this? do we consider it done?

[2022-02-16 10:07] mayaCostantini commented on #350
If we look at acceptance criteria:

- [ ] an article about Thoth's resolver vs local resolvers
  - [x] the article includes (or clearly points to) easy to try steps to help people see by themselves
- [x] a short accompanying video / mini-demo

I think the only missing aspect is the Thoth vs. local resolvers comparison which should be detailed by the overarching article we are writing with Frido fo

[2022-02-16 10:16] goern commented on #294
any updates on this?

[2022-02-21 16:07] sesheta commented on #336
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 08:53] mayaCostantini commented on #356
/remove-lifecycle frozen
/lifecycle active

[2022-02-22 08:53] mayaCostantini commented on #356
/assign @mayaCostantini
/assign @fridex

[2022-02-22 09:10] goern commented on #359
I think this is not planned for the current sprint?!
/priority backlog

[2022-02-22 09:11] #309 closed

[2022-02-22 09:11] sesheta commented on #309
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/309#issuecomment-1047577643):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-02-22 09:12] goern commented on #341
@fridex @codificat shall we push this back to the backlog?

[2022-02-22 09:12] goern commented on #330
ping?

[2022-02-22 17:10] KPostOffice commented on #314
@goern
@tumido We have an endpoint in user-api for running this type of request. How hard would it be to add this to meteor?

[2022-02-23 18:51] fridex commented on #371
I think this feature is related to the work you do. It is related to the meteor integration feature. The issue was created to better track who works on what.

If you don't see it relevant, feel free to close it or adjust the description. It could help with work tracking.

[2022-02-23 19:36] KPostOffice commented on #371
Ahh got it. That's what I got from the title but I wasn't sure about the "verifies content of my repository and makes sure it is in a healthy state". I will close this as I think it is tracked elsewhere.

[2022-02-23 19:36] KPostOffice commented on #371
/close

[2022-02-23 19:36] sesheta commented on #371
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/371#issuecomment-1049142159):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-02-23 19:36] #371 closed

[2022-02-28 10:23] goern commented on #314
@tumido ping

[2022-03-02 09:40] goern commented on #316
/priority backlog
/lifecycle froyen

[2022-03-03 07:26] goern commented on #300
/remove-lifecycle stale
/lifecycle frozen

[2022-03-04 08:26] goern commented on #384
/sig stack-guidance

[2022-03-04 08:26] goern commented on #361
/sig stack-guidance

[2022-03-04 11:03] sesheta commented on #325
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-04 11:03] sesheta commented on #325
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/325#issuecomment-1059062430):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-03-04 12:44] goern commented on #342
/remove-lifecycle stale

[2022-03-04 21:49] KPostOffice commented on #322
Hey @pacospace, I added a comment to an issue here: https://github.com/thoth-station/kebechet/issues/825. I feel like it doesn't fit here as it is more of an operational metric, but I figured I'd link it in case it is something we might want to include.

[2022-03-07 12:07] codificat commented on #325
I believe this is not done yet, so
/reopen
/remove-lifecycle rotten

Having said that, I believe this is related to:
- https://github.com/thoth-station/kebechet/issues/847
- https://github.com/thoth-station/kebechet/issues/991

@pacospace can you help me confirm that the request in this issue would be fulfilled by these, or if there is something else?

[2022-03-07 12:07] sesheta commented on #325
@codificat: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/325#issuecomment-1060618660):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-07 12:07] sesheta commented on #325
@pacospace: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-03-09 13:53] codificat opened #391 "Rename the default branch in our repositories"
## Problem statement

Most of our repositories still use `master` as the default branch's name.

## High-level Goals

Use `main` as the default branch's name.

## Proposal description

Change the default branch on existing repositories so that we use `main` instead of `master`.

### Additional context

https://github.com/github/renaming

## Acceptance Criteria

- [ ] All repositories under `thoth-

[2022-03-16 10:25] mayaCostantini commented on #356
/sig stack-guidance

[2022-03-16 18:00] codificat commented on #361
Testing if project assignment works:
/project SIG-Stack-Guidance

[2022-03-17 11:05] codificat commented on #361
/project SIG-Stack-Guidance New

[2022-03-23 09:44] codificat commented on #391
/priority important-longterm
/triage accepted

[2022-03-23 09:48] codificat commented on #383
/priority backlog

And I believe that until we confirm interest from SIG-DataScience and/or others (opendatahub maybe?):
/triage needs-information

[2022-03-23 17:29] sesheta commented on #336
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-24 07:56] goern commented on #336
/remove-lifecycle rotten
/lifecycle frozen

[2022-03-31 16:37] mayaCostantini opened #396 "Create short, entry-level Thoth tutorials"
## Problem statement

As a potential user of Thoth, I would be interested in short, entry-level tutorials to learn:

- How to use the different entry points to get advises from Thoth (Thamos, Search UI, API...)
- How Thoth can help me manage my dependencies in the context of a Machine Learning project
- How to manage security issues in my application
- ...

## High-level Goals

The goal of those t

[2022-03-31 16:37] sesheta commented on #396
@mayaCostantini: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-04-04 09:45] goern commented on #396
/sig user-experience
/triage accepted

[2022-04-04 09:46] goern commented on #391
/sig user-experience

[2022-04-04 09:46] goern commented on #372
/sig user-experience

[2022-04-04 09:46] goern commented on #383
/sig user-experience

[2022-04-04 09:46] goern commented on #365
/sig user-experience

[2022-04-06 07:26] fridex commented on #358
CC @codificat @goern do we want to start work on this one? It might take some time to have this available.

[2022-04-07 06:17] goern commented on #358
ja, this is an important part of our O1KR1

[2022-04-07 06:29] goern commented on #358
/assign @codificat
/unassign goern

[2022-04-11 12:31] fridex opened #397 "Create GitHub action that integrates with Thoth"
## Problem statement

As a user of GitHub, I would like to use a GitHub action on my repository that integrates with Thoth. The GitHub action can use Thamos CLI to contact Thoth backend to get results. For example, if there is a security vulnerability, the GitHub action can turn pull-request to red state, eventually blocking merge.

This feature is an addition to Kebechet for teams that would like

[2022-04-11 12:31] sesheta commented on #397
@fridex: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-04-11 12:31] sesheta commented on #397
@fridex: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availab

[2022-04-11 12:34] fridex commented on #397
A tutorial: https://lab.github.com/githubtraining/github-actions:-hello-world

[2022-04-11 12:54] fridex commented on #397
I think we had an issue like this opened by someone outside of the team, but I cannot find it. Feel free to close this one as a duplicate if you find it.

[2022-04-11 14:45] mayaCostantini commented on #356
/remove lifecycle-active

[2022-04-11 14:45] mayaCostantini commented on #356
/remove-lifecycle active

[2022-04-11 14:46] mayaCostantini commented on #356
/lifecycle frozen

[2022-04-14 16:12] sesheta commented on #326
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-19 10:40] codificat commented on #397
That would be https://github.com/thoth-station/support/issues/193 I believe.

However, this issue description contains suggestions that are not part of the acceptance criteria in the other, e.g. the usage as a CI check.

I was about to mark it as duplicate and close, but the other would have to be expanded a bit to cover the ideas here I believe. Maybe they are complementary?

[2022-04-19 12:02] mayaCostantini commented on #397
/lifecycle active
/triage accepted

[2022-04-19 22:11] mayaCostantini commented on #397
The test repository for this GitHub action is available at [thoth-github-action-test](https://github.com/mayaCostantini/thoth-github-action-test). For the moment, this first iteration only supports the `Pipfile` format for requirements but I will add support for other formats such as `setup.cfg` soon.
Any improvement proposal is welcome :+1:

[2022-04-26 11:20] codificat commented on #326
/remove-lifecycle stale

[2022-04-28 17:34] fridex opened #400 "Evaluate possible integration with OpenSSF package analysis"
## Problem statement

## High-level Goals

## Proposal description

### Alternatives

### Additional context

## Acceptance Criteria

- [ ] example

[2022-04-28 17:34] sesheta commented on #400
@fridex: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-04-28 17:34] sesheta commented on #400
@fridex: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availab

[2022-04-28 17:54] mayaCostantini commented on #400
/sig stack-guidance

[2022-05-02 11:39] codificat commented on #359
/sig devsecops

[2022-05-02 11:42] codificat commented on #325
Also related:
- https://github.com/thoth-station/core/issues/359

/sig devsecops
/triage accepted

[2022-05-02 11:46] harshad16 commented on #377
All the pieces in summit demo are already supported
closing this issue.

[2022-05-02 11:46] #377 closed

[2022-05-02 11:58] codificat commented on #326
In the last integration test runs there are errors in some of the ps-* tests: ps-cv-{pytorch,tensorflow} and ps-nlp-tensorflow.

They failed due to tmieouts:

[code]

Other related integration tests succeeded.

[2022-05-03 10:17] codificat opened #401 "Contribute to successful usage of Thoth Service in the OS-Climate project"
## Problem statement

The [aicoe-osc-demo repository](https://github.com/os-climate/aicoe-osc-demo) is, at the moment, not taking full advantage of Thoth services.

## High-level Goals

We would like that Thoth's guidance and pipeline services are successfully used by the OS-Climate reference project, so that further collaboration with the project continues to use Thoth services.

This implies tha

[2022-05-03 10:17] sesheta commented on #401
@codificat: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-05-03 10:17] sesheta commented on #401
@codificat: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-05-03 10:22] codificat commented on #401
/sig user-experience
/triage accepted

Planning to work on this next, so
/assign
/priority critical-urgent

[2022-05-03 10:26] codificat commented on #401
/milestone OKR review Q2 2022

[2022-05-03 10:27] codificat commented on #326
/milestone OKR review Q2 2022
/sig user-experience

[2022-05-03 11:10] codificat commented on #396
/milestone OKR review Q2 2022

[2022-05-03 11:35] codificat opened #402 "Automated Data Science bootstrap from curated content sets"
## Problem statement

As a Data Scientist,
I want a service that provides me an easy mechanism to bootstrap a new Data Science project, starting from a curated software stack that is appropriate for my project’s goals and available in a shared environment,
so that I can quickly start working on the Data Science project tasks without having to invest time in preparing a working environment, and I c

[2022-05-03 11:36] sesheta commented on #402
@codificat: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-05-03 11:45] codificat commented on #402
/kind key-result

[2022-05-03 13:14] sesheta commented on #308
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-03 15:11] codificat commented on #326
/remove-sig user-experience
/sig stack-guidance

because there are issues resolving the stacks here

[2022-05-03 15:43] fridex commented on #402
We have discussed an approach that would reuse logic for template projects. Let's sync if we want to develop and maintain this type of logic in Kebechet.

[2022-05-03 18:07] fridex commented on #326
Tested with `stable` recommendation type:

- ps-nlp-tensorflow succeeded - [see results](https://khemenu.thoth-station.ninja/api/v1/advise/python/adviser-220503173442-64a56b00a848225b)
- ps-nlp-pytorch failed - [see results](https://khemenu.thoth-station.ninja/api/v1/advise/python/adviser-220503173542-1fa6eba4fc395949)
- ps-cv-tensorflow failed - [see results](https://khemenu.thoth-station.ninja/a

[2022-05-03 18:19] fridex commented on #326
Tested with `latest` recommendation type without jupyterlab-tensorboard package in the stack:

* ps-nlp-tensorflow succeeded  - [see results](https://khemenu.thoth-station.ninja/api/v1/advise/python/adviser-220503181733-465a91511d855f45)
* ps-nlp-pytorch suceeded - [see results](https://khemenu.thoth-station.ninja/api/v1/advise/python/adviser-220503181542-e57de5e790f49d5a)
* ps-cv-tensorflow succe

[2022-05-03 18:30] fridex commented on #326
Tested with `latest` recommendation type and `jupyter-tensorboard==0.1.1` (solvable using our solver):

* ps-nlp-tensorflow succeeded - [see results](https://khemenu.thoth-station.ninja/api/v1/advise/python/adviser-220503182315-80ca048fff9d5395)
* ps-nlp-pytorch succeeded - [see results](https://khemenu.thoth-station.ninja/api/v1/advise/python/adviser-220503182357-293e0094bf9bf1da)
* ps-cv-tensorf

[2022-05-03 19:07] harshad16 commented on #326
This means our solvers are not able to solve jupyter-tensorboard or other packages with such requirements, right?
Is that the reason we are pinning the jupyter-tensorboard to 0.1.1, or we are pinning it because thoth advice suggested it?

[2022-05-03 19:21] fridex commented on #326
Generally, no - we are not able to solve libraries that have hard requirements on environment that are not met in our solvers. Ideally, jupyter-tensorboard should not depend on the environment and execute code during the installation process - at least not make it a hard requirement (if it fails, the installed package can still be present).

This might get better over time as python packaging evol

[2022-05-03 19:23] fridex commented on #326
And for others, it looks like it failed as it did not find any resolution in the allocated time.

[2022-05-03 20:14] harshad16 commented on #326
ack, thanks for the explanation.

[2022-05-04 08:02] durandom commented on #402
I suggest making this the first milestone. It's ok to assume the user knows which stacks are available. So that
* I start with an empty repo
* I open an issue and ask the bot to create a PR for e.g. the Image Recognition Stack
* I can merge the PR and have a configured repo, which receives update recommendations via PRs in the future

does that make sense?

[2022-05-05 08:41] goern commented on #402
/sig user-experience

[2022-05-05 10:10] codificat commented on #402
There is a pre-requisite to this, which is that the stack content is readily-usable. This fits with Frido's comment about *template projects*.

.. and install the bot.

These 3 steps can be potentially reduced to one by just using the template project logic.

As this is a pre-requisite anyway, I suggest we make that the first milestone. The bot automation can be a follow-up.

I updated the descrip

[2022-05-09 16:54] codificat opened #406 "peribolos and label_sync should use ghproxy"
## Bug description

The [peribolos](https://github.com/thoth-station/core/blob/8e4db6974c189fd341dd9576132247e0b380d699/.prow.yaml#L14) and [label_sync](https://github.com/thoth-station/core/blob/8e4db6974c189fd341dd9576132247e0b380d699/.prow.yaml#L46) prow jobs are not configured to use ghproxy. (both pre- and post-submit)

### Steps to Reproduce
Steps to reproduce the behavior:
1. Create a PR th

[2022-05-09 16:54] sesheta commented on #406
@codificat: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-05-09 16:54] sesheta commented on #406
@codificat: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-05-09 17:15] codificat commented on #406
/sig devsecops

[2022-05-10 08:55] #406 closed

[2022-05-11 10:49] codificat opened #408 "Improve documentation about GitHub label management"
## Problem statement

As a contributor to one of the Thoth GitHub repos, it is unclear to me how the labels that are available in each repo are maintained.

The current [reference in the
README](https://github.com/thoth-station/core/blob/2e592c0b5a4c997990e5faa0f590c8f795d89b3f/community/README.md#updating-labelsmd)
is not sufficient. It does not explain:

- when does prow update the labels
- how/

[2022-05-11 10:49] sesheta commented on #408
@codificat: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-05-11 10:49] sesheta commented on #408
@codificat: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-05-11 10:52] codificat commented on #408
/sig user-experience
/triage accepted
/assign

[2022-05-11 11:16] codificat commented on #401
/lifecycle active

[2022-05-11 12:32] mayaCostantini commented on #401
/assign

[2022-05-12 17:51] MichaelClifford commented on #402
Not sure how you plan to implement this, but sounds like it would require the addition of an ever growing set of template repo's  (is that right?). Have you considered using a cookie-cutter [[1](https://github.com/cookiecutter/cookiecutter )] like repo that would serve as a single repo, with dynamic options that can be implemented on  new repo creations based on the users specific needs?

You can

[2022-05-16 10:09] goern commented on #384
/priority backlog

[2022-05-16 10:09] goern commented on #361
/priority backlog

[2022-05-16 13:30] harshad16 commented on #356
Suggestions:
- [ ] [Spike]OSSF has an [implementation](https://openssf.org/blog/2022/04/28/introducing-package-analysis-scanning-open-source-packages-for-malicious-behavior/) of the this, maybe we can include these in prescriptions.

[2022-05-16 13:33] fridex commented on #356
BTW it might be also good to check if this data source would be suitable for solver rules to automatically block malicious packages based on OpenSSF's scans.

[2022-05-16 16:15] sesheta commented on #345
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-17 21:58] codificat commented on #402
Correct, that was the idea: start initially with the 3 "predictable stacks" we have been working on, but eventually offer more options.

I saw cookie-cutter and the work you are doing with it, and I was planning to look closer at it, starting with one of the repos (see mention of cookie-cutter/your template in https://github.com/thoth-station/ps-nlp/issues/154 as an option to explore).

But I was

[2022-05-19 08:26] codificat opened #411 "Document Thoth's requirement for dependencies to be in an index"
## Problem statement

As a Thoth user, I am frustrated because Thoth can not provide advise about my application software stack, because my `Pipfile` references modules that are not hosted in a package index (local modules, file / git references).

For example:

- https://github.com/thoth-station/kebechet/issues/860
- https://github.com/thoth-station/thamos/issues/728#issuecomment-775193855

## Hi

[2022-05-19 08:27] sesheta commented on #411
@codificat: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-05-19 08:27] sesheta commented on #411
@codificat: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-05-19 08:30] codificat commented on #411
/sig user-experience
/triage accepted
/priority important-soon

[2022-05-20 15:24] codificat commented on #401
The OSC https://github.com/os-climate/data-platform-demo repo has a simpler [Pipfile](https://github.com/os-climate/data-platform-demo/blob/f35fefb35c37f49dd5419ffa7fbc03f2c488f176/Pipfile) without path/file based deps.

Maybe start with that one first?

Currently, the only thing preventing a thoth advise for that repo is that one of the dependencies is not known: `osc-ingest-tools` (https://githu

[2022-05-23 09:39] codificat commented on #411
Given that the content of the documentation is heavily tied to the guidance service, this is
/sig stack-guidance
more than
/remove-sig user-experience

[2022-05-23 17:52] codificat opened #412 "An option to ignore local dependencies"
## Problem statement

As a Data Scientist looking to incorporate Thoth's stack guidance service to my existing project,
I find that my current `Pipfile` is not supported by Thoth because it contains a package reference to a local path, e.g.

[code]

(or an equivalent content in `requirements.txt`, e.g. `./src/boilerplate`)

that I use to share code between my various notebooks.

This prevents me f

[2022-05-23 17:52] sesheta commented on #412
@codificat: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-05-23 17:52] sesheta commented on #412
@codificat: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-05-24 17:04] fridex opened #414 "Register Assured Open Source Software to monitored indexes once available"
## Problem statement

See https://www.csoonline.com/article/3660799/google-to-launch-repository-service-with-security-tested-versions-of-open-source-software-packages.html

It would be great to allow users of Thoth to consume software packages from this repository. Let's register it to Thoth once it will be available. We can monitor all the releases (not only those that have been seen previously)

[2022-05-30 12:26] codificat commented on #411
/assign

[2022-05-30 15:12] codificat commented on #402
/milestone OKR review Q2 2022

[2022-05-31 11:18] codificat commented on #402
/triage accepted
/lifecycle active
/assign

[2022-06-01 00:56] sesheta commented on #350
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-01 00:56] sesheta commented on #330
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-01 00:56] sesheta commented on #319
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-02 15:48] sesheta commented on #308
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-02 16:00] sesheta commented on #342
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-02 16:00] sesheta commented on #314
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-13 15:53] codificat commented on #326
The integration tests in stage are suffering from cluster issues that have been going on for a while and are expected to take some more time to fix.

Meanwhile, though, a current test of all the overlays using the production environment provided successful advice:

| overlay               | type   | result  | advise ID                               | time   |
|-----------------------|--------|----

[2022-06-13 16:04] mayaCostantini commented on #397
The Thoth github action is now available at https://github.com/marketplace/actions/thoth-adviser
Closing this issue.

[2022-06-13 16:04] #397 closed

[2022-06-14 19:47] Gkrumbach07 opened #417 "[EPIC] Have clustered advise outputs"

[2022-06-14 22:09] harshad16 commented on #372
Ray cluster is already available in operate-first smaug for sometime now.
thanks everyone.

[2022-06-14 22:09] #372 closed

[2022-06-15 06:58] mayaCostantini commented on #350
Closing this issue as the [article](https://www.redhat.com/architect/manage-python-dependencies-thoth) was published on Red Hat Enable Architect.

[2022-06-15 06:58] #350 closed

[2022-06-15 18:48] sesheta commented on #345
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-16 15:48] sesheta commented on #294
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-21 11:47] codificat commented on #345
/lifecycle frozen

[2022-06-21 12:14] codificat commented on #345
Current status seems to be:
- The [PEP-480 related discussion](https://discuss.python.org/t/pep-480-surviving-a-compromise-of-pypi-end-to-end-signing-of-packages/5666) mentions Sigstore
- there is an ongoing discussion in https://github.com/axelsimon/peps/pull/1 to adapt PEP-480 to sigstore

[2022-06-21 13:52] codificat commented on #326
Based on this, I believe we can
/close
this one as complete.

We still need to ensure that integration tests, that include checks for successful advices on the predictable stacks, run successfully (e.g. https://github.com/thoth-station/integration-tests/issues/324), and possibly review the justification related to the failures on some combination of stack/type.

These are tracked in separate issue

[2022-06-21 13:52] #326 closed

[2022-06-21 13:52] sesheta commented on #326
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/326#issuecomment-1161778695):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-06-21 18:13] codificat commented on #401
The data-platform-repo now meets all the requirements to receive advice, and a `thamos advise` request succeeds.

However, PRs from the bot's advise manager would fail checks due to missing DCO - created https://github.com/thoth-station/kebechet/issues/1067 for that

[2022-06-22 06:46] goern opened #415 "document how to create and publish a demo"
## Problem statement
During our last retrospective, we identified, that we want to enable any one of the team to create and publish feature demos asynchronously. To do so, we need to have a little guidance on how to create a demo session, how to publish it to our YT channel and which meta-information needs to be present.

## Acceptance Criteria
- [ ] short guide on how to record a demo, published

[2022-06-22 06:46] sesheta commented on #415
@goern: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-06-22 06:46] sesheta commented on #415
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-06-22 06:48] goern commented on #415
/sig user-experience

[2022-06-23 14:46] mayaCostantini commented on #415
/assign @shreekarSS
/assign

[2022-06-27 12:32] mayaCostantini commented on #361
/assign

[2022-06-27 13:30] sesheta commented on #417
@Gkrumbach07: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2022-07-01 03:49] sesheta commented on #330
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-01 03:49] sesheta commented on #319
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-01 12:41] xtuchyna opened #419 "Projects not enabled even though the configuration is set up"
## Bug description
Related to https://github.com/thoth-station/core/pull/418
and https://github.com/thoth-station/mi/issues/589

### Steps to Reproduce
[code]

### Actual behavior
totalCount of the timeline should be greater than 0, and at least of 3 (because I've added the testing issue into three multiple projects)
That means project related timeline events are still not available.

On top of th

[2022-07-01 12:41] xtuchyna commented on #419
@harshad16

[2022-07-01 14:18] harshad16 commented on #419
@xtuchyna  seems like we have to make this option https://github.com/thoth-station/core/blob/a6bd40e5cb89fa4a2475cd896f625a52f12f5c78/community/github-config.yaml#L17 `true`
to get everything working in right order.

[2022-07-02 18:42] sesheta commented on #308
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-02 18:42] #308 closed

[2022-07-02 18:42] sesheta commented on #308
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/308#issuecomment-1172943158):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-07-02 18:50] sesheta commented on #342
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-02 18:50] sesheta commented on #314
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-03 10:03] sesheta commented on #383
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-03 10:03] sesheta commented on #391
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-03 10:03] sesheta commented on #365
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-05 08:39] mayaCostantini commented on #400
/priority important-soon

[2022-07-05 12:51] Gkrumbach07 commented on #417
**Justifications that can be clustered easily**
- scorecards
- external links
- cve info (has or has not)

[2022-07-06 07:03] sesheta commented on #358
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-07 10:03] sesheta commented on #322
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-11 13:52] harshad16 opened #423 "Review the repos in org and update owners"
## Problem statement
Pull request in orgs are not getting appropriate attention as the owners and reviewer are not optimal. we should update the list and work on getting better reviewers.

## High-level Goals

## Proposal description

### Alternatives

### Additional context

## Acceptance Criteria

- [ ] example

[2022-07-11 13:52] sesheta commented on #423
@harshad16: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-07-11 13:54] harshad16 opened #424 "Use github project beta for planning"
## Problem statement
During the retro, it was suggested to use the GitHub project board of type beta for sprint planning.

## High-level Goals

## Proposal description

### Alternatives

### Additional context

## Acceptance Criteria

- [ ] example

[2022-07-11 13:54] sesheta commented on #424
@harshad16: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-07-11 13:54] sesheta commented on #424
@harshad16: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-07-11 13:54] harshad16 commented on #424
/triage needs-information
/priority backlog

[2022-07-11 13:55] harshad16 commented on #424
cc: @Gkrumbach07 @codificat

[2022-07-16 18:43] sesheta commented on #360
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-16 18:43] sesheta commented on #294
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-16 18:43] #294 closed

[2022-07-16 18:43] sesheta commented on #294
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/294#issuecomment-1186262954):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-07-16 18:43] sesheta commented on #360
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/360#issuecomment-1186262949):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-07-16 20:26] sesheta commented on #360
@fridex: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-07-16 20:26] sesheta commented on #360
@fridex: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availab

[2022-07-16 20:27] mayaCostantini commented on #360
/remove-lifecycle rotten
/sig stack-guidance
/priority backlog

[2022-07-18 19:36] Gkrumbach07 opened #425 "[EPIC] Time-to-merge (TTM) bot as a service"
## Problem statement
As a user of a service, I want to know the estimate time a pull request will be resolved so I can more accurately track the resolution of my issue.

## High-level Goals
- [ ] A Github bot that comments the time to merge a PR
- [ ] A semi automated way to retrain the time to merge model

## Proposal description
Provide an installable GitHub bot that comments on a pull request a

[2022-07-18 19:36] sesheta commented on #425
@Gkrumbach07: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are av

[2022-07-19 14:11] harshad16 opened #426 "Introduce Bitwarden secret management for the team thoth"
## Problem statement
We were using the gopass in past for secret management and pass around in team. Lately, we have been relying on the secret encrypted in thoth-application or directly access them from openshift clusters. However, it would be great to have Bit warden which supports in Redhat and can be used for our team.

## Proposal description
we need an orgnization in bit warden for sharing s

[2022-07-19 14:11] sesheta commented on #426
@harshad16: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-07-19 14:11] sesheta commented on #426
@harshad16: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-07-19 16:36] harshad16 opened #427 "Provide sig chairs write access"
## Problem statement
As we are having grooming and planning meetings in sigs.
It would make the life of sig chairs easier if they had to write access in the repos.

[2022-07-19 16:36] sesheta commented on #427
@harshad16: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-07-19 16:37] harshad16 commented on #427
/triage accepted
/priority important-soon
/lifecycle active
/assign @harshad16

[2022-07-20 07:55] goern commented on #423
please keep alumni approvers as such in the OWNERs file

/priority important-soon
/triage accepted
/kind cleanup
/sig devsecops

[2022-07-20 08:03] goern commented on #412
/sig user-experience
/priority backlog

[2022-07-20 14:03] goern commented on #414
/sig stack-guidance
/priority backlog

[2022-07-21 13:39] VannTen opened #430 "Bidirectional sync between project board colums and labels"
## Problem statement

As a Thoth developer, I would like to be able to filter issues by project board
colum when :

- searching issues
- using the github API
- ...

Ex: `gh search issues --project thoth-station/16 --label status:new`

## High-level Goals

- [ ] Issues on a project board searchable by project board column

## Proposal description
I think there is some Github Actions which can do th

[2022-07-21 13:40] sesheta commented on #430
@VannTen: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](http

[2022-07-21 13:40] sesheta commented on #430
@VannTen: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availa

[2022-07-21 13:47] VannTen commented on #430
/sig devsecops

[2022-07-22 15:43] sesheta commented on #341
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-22 15:43] #341 closed

[2022-07-22 15:43] sesheta commented on #341
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/341#issuecomment-1192705832):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-07-25 13:39] VannTen opened #431 "When do issues go to the 'New' colum in a particular dashboard sig ?"
## Problem statement
- As a (new !) Thoth developer, I don't quite get the part of the Scrum process
where we choose (in sig meetings) which issues to discuss and estimate. Is is
everything in the 'New' column of the dashboard of the SIG ? (In that case, when
do we add to the new column ? Should I just add an issue to a Sig dashboard when
doing /sig <signame> ?

## High-level Goals
- [ ] Document

[2022-07-25 13:39] sesheta commented on #431
@VannTen: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availa

[2022-07-26 05:21] goern commented on #426
can we use ksops to achieve the same goal? would that be a little bit more open?

[2022-07-26 05:36] goern commented on #431
'new' is used for all the good ideas that are just 'a one-liner', things that are unrefined or could be done, or nice to have... this is similar to 'stakeholder backlog' of https://github.com/orgs/open-services-group/projects/21

after refining the issue/card, it should move to (product) backlog, and adhere to certain quality criteria described in the T&C document.

@schwesig @codificat

[2022-07-26 05:37] goern commented on #430
sounds helpful, could you put an hour or so in and figure out if we can do it easily for our repos and https://github.com/orgs/open-services-group/projects/21/views/1

@schwesig

[2022-07-26 07:57] VannTen commented on #430
Ok, I'll take a look.

[2022-07-26 08:00] goern commented on #419
/sig user-experience

[2022-07-26 10:32] VannTen commented on #430
So, not that easy it would seem.
From the github docs (workflows do not support org projects)[ https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#project_card]
(third note).
Beside, I've seen several projects doing one of the sync direction, but
not both.

So that would need at least some work.

I've not checked the new API for beta projects, but it might be
relevant.

[2022-07-26 13:49] harshad16 commented on #426
We can there are few details, which are not really required to be open.
Most of the team in RedHat has started to use this.

we would contiinue to use ksops for the bits, that can be open for collaborators.

[2022-07-26 16:19] Gkrumbach07 opened #432 "[3pt] Document overall workflow of the TTM service"
## Problem statement

As a developer or admin of the TTM service, I want to see how the service functions, so I can have a better idea of problems and errors.

## High-level Goals

Produce a flowchart encompassing both user and service level components and actions.

## Proposal description

This service is of a GitHub App that responds to newly created PRs with the output of the TTM model.

- GitH

[2022-07-26 16:19] sesheta commented on #432
@Gkrumbach07: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2022-07-26 16:19] sesheta commented on #432
@Gkrumbach07: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are av

[2022-07-26 18:13] Gkrumbach07 opened #433 "[5pt] Create a new Github App for TTM service"
## Problem statement

As a user of the TTM model, I want to be able to add the TTM model capabilities to my GitHub workflow.

## High-level Goals

- Create a new repo for the Github App
- Create the app based on the service's [overview](https://github.com/thoth-station/core/issues/432)
-
## Proposal description

The Github App should be an MVP of the TTM service. It does not need to support genera

[2022-07-26 18:13] sesheta commented on #433
@Gkrumbach07: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2022-07-26 18:13] sesheta commented on #433
@Gkrumbach07: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are av

[2022-07-27 10:51] mayaCostantini opened #434 "[EPIC] [MVP] Improvements to Thoth advises output"
## Problem statement

As a user of Thoth, I would like to have more concise information about the quality of my software stack, indicated by absolute metrics such as:

- "95% of my dependencies are maintained with a dependency update tool (i.e. dependabot, etc)"
- "45% of my dependencies have 3 or more maintainers"
- ...

Which would be aggregated and compared to metrics for packages present in Th

[2022-07-27 10:51] sesheta commented on #434
@mayaCostantini: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-07-27 10:51] sesheta commented on #434
@mayaCostantini: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are

[2022-07-27 10:51] mayaCostantini commented on #434
/sig user-experience
/priority important-soon

[2022-07-28 08:52] goern opened #436 "Implement the logic to compute maintenance metrics for dependencies of an advised software stack using data from the advised report"

[2022-07-28 08:52] sesheta commented on #436
@goern: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-07-28 08:52] sesheta commented on #436
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-07-28 08:54] goern opened #437 "Print a concise summary with those metrics when the flag is passed"

[2022-07-28 08:54] sesheta commented on #437
@goern: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-07-28 08:54] sesheta commented on #437
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-07-28 13:20] tumido commented on #425
Take a look at https://github.com/operate-first/probot-template if it can be used here as well :slightly_smiling_face:

[2022-07-28 16:40] Gkrumbach07 commented on #432
Diagram: https://drive.google.com/file/d/1rvxwWhsv86VvsObqaz3_XveT3ms3HlDl/view?usp=sharing

[2022-07-31 06:44] sesheta commented on #330
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-31 06:44] sesheta commented on #319
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-31 06:44] #319 closed

[2022-07-31 06:44] sesheta commented on #319
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/319#issuecomment-1200360997):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-07-31 06:44] sesheta commented on #330
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/330#issuecomment-1200360994):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-07-31 13:05] sesheta commented on #359
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-31 13:05] sesheta commented on #325
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-31 14:59] mayaCostantini commented on #325
/remove lifecycle stale
/lifecycle frozen

[2022-08-01 13:05] sesheta commented on #396
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-01 14:39] mayaCostantini commented on #434
One of the requirements for computing software stack quality scores based on OSSF Scorecards would be to have Scorecards data linked to each project latest release instead of the project repository head commit SHA. This feature request has already been proposed on the [scorecards project side](https://github.com/ossf/scorecard/issues/2092).

What about helping them implementing this feature and im

[2022-08-01 14:46] goern commented on #434
This sounds reasonable.

Nevertheless, we would use the data via big query?

[2022-08-01 14:59] mayaCostantini commented on #434
Yes, but the information will already be computed in the dataset and we will not need to associate the head commit SHA to the release ourselves.

[2022-08-01 15:00] mayaCostantini commented on #396
/remove lifecycle-stale
/lifecycle frozen

[2022-08-01 21:44] sesheta commented on #342
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-01 21:44] sesheta commented on #314
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-01 21:44] sesheta commented on #342
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/342#issuecomment-1201754628):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-08-01 21:44] #342 closed

[2022-08-01 21:44] sesheta commented on #314
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/314#issuecomment-1201754649):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-08-01 21:44] #314 closed

[2022-08-02 12:52] sesheta commented on #383
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-02 12:52] sesheta commented on #391
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-02 12:52] sesheta commented on #365
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-02 16:42] mayaCostantini opened #440 "Aggregate Scorecards metrics on a new package release using one of the two methods above"

[2022-08-02 16:42] sesheta commented on #440
@mayaCostantini: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-08-02 16:42] sesheta commented on #440
@mayaCostantini: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are

[2022-08-02 16:43] mayaCostantini commented on #440
/sig stack-guidance
/priority critical-urgent

[2022-08-02 16:50] mayaCostantini opened #441 "Create a new table in storages for storing those metrics"

[2022-08-02 16:50] sesheta commented on #441
@mayaCostantini: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-08-02 16:50] sesheta commented on #441
@mayaCostantini: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are

[2022-08-02 17:04] mayaCostantini opened #442 "Gather user feedback/opinions on useful Scorecard metrics"
This issue is part of the following **EPIC**: https://github.com/thoth-station/core/issues/434

_**4. Implement the global scoring logic**_

_For example, if a software stack is in the 95th percentile of packages with the best development practices (CI/CD, testing...), score it as "A" for this category. Compute a global score from the different category scores._

 _**Gather user feedback/opinions

[2022-08-02 17:04] sesheta commented on #442
@mayaCostantini: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-08-02 17:04] sesheta commented on #442
@mayaCostantini: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are

[2022-08-02 17:05] mayaCostantini commented on #442
/sig user-experience
/priority critical-urgent

[2022-08-04 18:24] mayaCostantini opened #444 "[Spike] [MVP] Package maintenance predictive model"
## Problem statement

cc @goern

As Python developer, I would like to be able to predict if some of my dependencies will go unmaintained with time.

The idea would be to develop a learning model able when a given package will go under an acceptable level of maintenance that could be defined by the user or directly in the model, in an arbitrary way.
A PoC for this model could use project maintenanc

[2022-08-04 18:24] sesheta commented on #444
@mayaCostantini: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-08-04 18:24] sesheta commented on #444
@mayaCostantini: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are

[2022-08-04 18:24] mayaCostantini commented on #444
/priority important-longterm
/sig stack-guidance

[2022-08-05 09:54] sesheta commented on #358
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-06 12:54] sesheta commented on #322
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten