[2022-08-08 09:08] codificat commented on #314
Reviewing if this was a legitimate closure or if this had to be reopened.

I believe that the functionality requested here is currently tracked in https://github.com/AICoE/meteor-operator/issues/43

Leaving this one as closed then.

[2022-08-08 09:53] goern commented on #440
/kind feature

[2022-08-08 09:53] goern commented on #442
/kind feature

[2022-08-08 12:15] mayaCostantini commented on #360
/good-first-issue

[2022-08-08 12:15] sesheta commented on #360
@mayaCostantini:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](ht

[2022-08-08 12:20] mayaCostantini commented on #360
See https://setuptools.pypa.io/en/latest/userguide/pyproject_config.html

[2022-08-08 13:14] codificat commented on #419
/assign @xtuchyna
Dominik, is this still an issue?

[2022-08-09 08:24] goern commented on #427
I manually configured each project to have admin access for the ...-leads team. let me know if this does the trick, if not, feel free to re-open this issue

/close

[2022-08-09 08:24] sesheta commented on #427
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/427#issuecomment-1209071009):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-08-09 08:44] goern commented on #427
/re-open

[2022-08-09 08:44] goern commented on #427
/reopen

[2022-08-09 08:44] sesheta commented on #427
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/427#issuecomment-1209092096):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2022-08-09 09:04] goern commented on #408
/kind feature

[2022-08-09 13:47] goern commented on #431
@VannTen does that answer your question?

[2022-08-09 13:47] goern commented on #431
/sig user-experience
/priority critical-urgent
/triage accepted

[2022-08-09 14:04] VannTen commented on #431
Yes.
I intended to close the issue with #435, that's a leftover.
Thanks !

/close

[2022-08-09 14:36] #427 closed

[2022-08-09 17:47] harshad16 commented on #359
/remove-lifecycle stale
/lifecycle frozen

[2022-08-11 14:36] goern opened #448 "usage metrics by python version"
## Problem statement
As a Thoth Service Owner,
I would like to see a dashboard of usage metrics
so that I can see which python version is used

This issue feeds into https://github.com/thoth-station/support/issues/11

## Proposal description
tbd

### Alternatives
n/a

## Acceptance Criteria
- [ ] tbd

/priority important-soon
/sig devsevops

[2022-08-11 14:36] sesheta commented on #448
@goern: The label(s) `sig/devsevops` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/core/issues/448):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file

[2022-08-11 14:37] sesheta commented on #448
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-08-18 08:35] VannTen commented on #430
@harshad16 Could we pull that into the devsecops project ? Feels relevant.

[2022-08-18 08:48] VannTen commented on #430
Gitlab has [issue
boards](https://docs.gitlab.com/ee/user/project/issue_board.html) which do
exactly that.

Regarding the new project version, they don't appear to provide that
functionality either. (might be in the API, but managing that ourselves seems
more trouble than it's worth)

[2022-08-18 09:10] VannTen commented on #391
What are the references to master we use, besides local git repos ?

Apparently everything on github besides github actions is retargeted/redirected
automatically.

I did not see a way to rename in branch in bulk on all org repos, but maybe
there is a GraphQl endpoint for that :thinking:

[2022-08-18 09:15] VannTen commented on #360
this might help: https://dephell.readthedocs.io/cmd-deps-convert.html

[2022-08-18 22:15] codificat commented on #424
Some work in progress in testing this: https://github.com/orgs/thoth-station/projects/49

[2022-08-18 22:23] codificat commented on #430
An earlier attempt to implement this using prow: https://github.com/thoth-station/thoth-application/pull/2450

This was only uni-directional (auto-add issues to project boards), and it's not really working though. Oh, and it is only meant to work with the "classic" projects, not the new ones.

[2022-08-19 07:27] VannTen commented on #430
Uni-directional meant everyone has to use the same process, though. It
would certainly be simpler (as mentioned earlier, several github actions
do just that).

I'll be fine with working only with labels as I'd rather use gh than the
github UI, but I'm not sure everyone is a fan^.

Also, if we do decide that everyone should use one workflow, we should
disable (with permissions or settings or whatev

[2022-08-19 08:59] goern commented on #401
any update on this?

[2022-08-19 08:59] goern commented on #427
is this done?

[2022-08-19 15:17] codificat commented on #427
In theory yes, via #438.

FWIW, from my side I see that I now have write access to (most?) repos - which I did not before.

The new group created on that PR (members, repos, ...) is https://github.com/orgs/thoth-station/teams/sigchairs

LGTM

[2022-08-22 08:07] VannTen opened #449 "Documentation updates on CI"
# User story
As a Thoth Devops, I'd like to understand easily the CI/code review process, to
be able to improve it.

# Currently

We reference Zuul in docs/code-review.rst, I don't think it's still used ?
Besides, I can't find any refs to `.prow.yaml` in this repo.

# Acceptance criterias

- [ ] `docs/code-review.rst` (or another page) describe accurately the CI
  process, referencing other docs i

[2022-08-22 08:07] sesheta commented on #449
@VannTen: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](http

[2022-08-22 12:52] Gkrumbach07 commented on #433
/close

[2022-08-22 12:54] #433 closed

[2022-08-22 12:58] sesheta commented on #433
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/433#issuecomment-1222317185):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-08-24 15:25] goern commented on #426
I think this is fine, right?

[2022-08-25 13:43] harshad16 commented on #426
yes , thank you for the setup.

[2022-08-25 13:43] #426 closed

[2022-08-29 09:52] #449 closed

[2022-08-29 13:28] codificat commented on #336
/sig stack-guidance

[2022-08-30 13:06] codificat commented on #330
/reopen
/lifecycle frozen

discussing this in today's SIG-UX meeting

[2022-08-30 13:44] harshad16 opened #451 "Documentation start with simple description of thoth-station projects"
## Problem statement
As a User of thoth-station projects/products, it feels that too many clicks are to be done, to figure out each project of thoth-station, lets have a simple start catalog page with all MVP of thoth-station so it is easier to begin the journey with thoth-station.

we should have our start page on the documentation website and GitHub website with a list of projects/products from

[2022-08-30 13:44] sesheta commented on #451
@harshad16: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-08-30 13:44] sesheta commented on #451
@harshad16: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-08-30 13:46] harshad16 commented on #451
https://github.com/thoth-station/core/issues/330
https://github.com/thoth-station/kebechet/issues/1054

[2022-08-30 14:04] VannTen commented on #448
Shouldn't this be in sig/observability rather than devops ? (even though we're dealing with it the same ^^) @harshad16

[2022-08-30 15:49] Gkrumbach07 opened #452 "Setup Argo workflow to deploy TTM bot to operate first namespace"

[2022-08-30 15:49] sesheta commented on #452
@Gkrumbach07: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2022-08-30 16:42] Gkrumbach07 opened #453 "Create a GitHub Webhook Application in Thoth (replacing `Gkrumbach07`'s dev app)"

[2022-08-30 16:42] sesheta commented on #453
@Gkrumbach07: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2022-08-30 16:42] sesheta commented on #453
@Gkrumbach07: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are av

[2022-08-30 17:15] Gkrumbach07 opened #454 "migrate over to using gidgethub as it is better maintained"

[2022-08-30 17:15] sesheta commented on #454
@Gkrumbach07: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2022-08-30 17:15] sesheta commented on #454
@Gkrumbach07: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are av

[2022-08-30 17:16] Gkrumbach07 commented on #454
/transfer ttm-as-a-service

[2022-08-30 17:25] Gkrumbach07 commented on #453
/transfer ttm-as-a-service

[2022-08-30 17:26] Gkrumbach07 commented on #452
/transfer ttm-as-a-service

[2022-08-31 10:42] VannTen commented on #451
/remove-kind feature

[2022-08-31 13:32] Gkrumbach07 commented on #425
Current resources

Namespace in Smaug cluster: https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/cluster/projects/ttm-as-a-service
namespace PR: https://github.com/operate-first/apps/pull/2290
TTM github repo: https://github.com/thoth-station/ttm-as-a-service
quay repo for TTM image: https://quay.io/repository/thoth-station/ttm-as-a-service

[2022-09-01 09:07] VannTen commented on #430
So, after more digging into the code, I believe I was wrong and the code
was right.

It just go backwards from other documents because the path is something
like:

"<prefix>/security-indicators/<id>/<type_of_si>"
-> implying that the whole collection (one of each type) forms a
"composite" security_indicator.

A bit confusing.

So, sorry for the noise.

[2022-09-01 15:49] sesheta commented on #383
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-01 15:49] sesheta commented on #365
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-01 15:49] #383 closed

[2022-09-01 15:49] sesheta commented on #365
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/365#issuecomment-1234467200):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-09-01 15:49] sesheta commented on #383
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/383#issuecomment-1234467185):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-09-04 12:50] sesheta commented on #358
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-04 12:50] sesheta commented on #358
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/358#issuecomment-1236334440):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-09-04 12:58] mayaCostantini commented on #358
Tracking in SIG Stack Guidance until we sync on the status of this.

[2022-09-04 12:58] sesheta commented on #358
@fridex: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availab

[2022-09-04 13:00] sesheta commented on #365
@fridex: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-09-05 11:38] goern commented on #433
@Gkrumbach07 is this service available on the github marketplace?

[2022-09-05 13:41] VannTen opened #455 "[Tracker]Implement a "Zero bug" policy"
This has come up during the Spring retrospective and we could benefit from
formalizing what it means to decide if we want it, and how.

The following is my opinion, which does not have the weight of experience (on
that subject).

------------

TL;DR: If we can live with it, it's not a bug, it's an improvement (I stole that
one)

Alternative TL;DR: It's not about being bug free, but about being kno

[2022-09-05 13:41] sesheta commented on #455
@VannTen: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availa

[2022-09-05 14:39] VannTen opened #456 "Drop prow issue autoclosing"
We're currently auto-handling issues "lifecycle" with Prow.
-> autoclosing issues without activity.

I think we should (re?)examine that policy, for reasons similar to https://github.com/kubernetes/kubernetes/issues/103151

Pros of auto-closing issues:

- Keeps number of issues small
- ... (please edit or suggest other because I do not see many benefits myself)

Cons:

- Noise. stale -> rotten ->

[2022-09-05 14:39] sesheta commented on #456
@VannTen: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](http

[2022-09-05 14:39] sesheta commented on #456
@VannTen: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availa

[2022-09-05 19:44] goern commented on #455
/sig user-experience
/kind documentation
/priority critical-urgent

[2022-09-05 19:47] goern commented on #455
@VannTen could you formulate this in a few guiding principles? what are the rules for our 0bug policy?

[2022-09-06 07:25] VannTen commented on #456
Not sure what sigs should be concerned by this... The hypothetical dev-experience maybe ?

[2022-09-06 07:31] VannTen commented on #456
Another note: Auto-closing could maybe be more relevant in specific
cases, for example:

- issues asking for more information (unconfirmed bugs for example)
  without activity
- Untriaged issues for a long time (the rationale being that untriaged
  issues lack context and it would probably less effort to create a new
  one when the problem/suggestion surfaces again)

[2022-09-06 07:47] VannTen commented on #455
Yeah I think that image is spot on.

Should I make an operable principles list:

1. We try hard to confirm/triage bugs regularly, in particular before sprint planning. (related to "assign to sigs" discussion lately)
2. At the start of sprint, the Product Owner (I guess you @goern ?), establish the true bugs (-> having an impact)
3. True bugs are planned first in sprint planning, other are closed o

[2022-09-06 09:59] VannTen commented on #456
/kind discussion

[2022-09-06 09:59] sesheta commented on #456
@VannTen: The label(s) `kind/discussion` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/core/issues/456#issuecomment-1237933886):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related

[2022-09-13 13:18] VannTen commented on #456
@goern
@codificat (as I've seen you used many `/lifecycle frozen` I think)
Thoughts ?

[2022-09-13 16:52] codificat commented on #401
Description updated with more related issues/tasks

[2022-09-14 07:25] goern commented on #419
/close
feel free to re-open

[2022-09-14 07:25] sesheta commented on #419
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/419#issuecomment-1246354741):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-09-14 07:25] #419 closed

[2022-09-14 08:21] goern commented on #456
/sig user-experience
/kind feature

[2022-09-14 19:44] KPostOffice commented on #456
Just stumbled upon this. I think this makes a lot of sense, as soon as something is seen as a valid extension or bug it shouldn't be automatically be deleted. Something is marked with `triage/needs-information` can probably be safely auto closed if it hasn't been interacted with after a certain amount of time. Other than that, untriaged issues usually represent a lack of interaction or understandi

[2022-09-14 19:52] KPostOffice commented on #451
What projects/products do you want to give short blurbs?

[2022-09-14 19:59] KPostOffice commented on #456
Actually, looking at the labels we have for our projects there are a few others that make sense:
`triage/duplicate`/`triage/unresolved`: give users time to disagree with duplicate label or why issue should be resolved (~5-10 days)
`triage/needs-information`/`triage/not-reproducible`: recognizes the potential of the issue raised, but needs more info before it can be accepted. Without interaction it

[2022-09-15 03:11] harshad16 commented on #451
We should have somewhere description of list of projects/product we have from team thoth-station:
- Kebechet
- Thoth Advise Recommendation
- AICoE-CI
- Elyra-devsecops
- Thoth Precommit
- Thoth Github Action
- Jupyterhub Notebook image
- Jupyterlab-requirements plugin
- Amun-api

we have these many projects/services worked and available
However , we dont list them in one place, people have to look

[2022-09-17 09:55] sesheta commented on #391
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-17 09:55] sesheta commented on #391
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/391#issuecomment-1250040924):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-09-19 07:18] VannTen commented on #391
/unclose
/lifecycle frozen

[2022-09-19 08:48] codificat commented on #391
/reopen

[2022-09-19 09:19] VannTen commented on #456
/triage accepted
(Per the thoth tech talk meeting).
/lifecycle active
/assign

[2022-09-19 09:54] VannTen opened #459 "opendatahub-cnbi does not have the global labels"
see https://github.com/thoth-station/opendatahub-cnbi/issues/10#issuecomment-1246553860

[2022-09-19 09:54] sesheta commented on #459
@VannTen: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](http

[2022-09-19 09:54] sesheta commented on #459
@VannTen: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availa

[2022-09-19 09:56] VannTen commented on #459
Not sure if something is missing in the github-config.yaml ?

[2022-09-19 11:29] codificat commented on #459
I believe it just needs the [label-sync post-submit job](https://github.com/thoth-station/core/blob/master/.prow.yaml#L114) to be run.

AFAIK this is currently only automatically triggered when there are changes that affect e.g. labels.yaml.

[2022-09-19 12:33] VannTen commented on #459
On Mon, Sep 19, 2022 at 04:29:14AM -0700, Pep Turró Mauri wrote:

From this line it should run also when community/github-config.yaml is
changed.

[2022-09-19 17:18] codificat commented on #459
Right.

I'm wondering if this might have been a race: the last time `github-config.yaml` was touched was to create the repo (7abe7e642c95bbdfbf3adb05fedcfd9fa65075c7), at which point 2 postsubmit would run: peribolos and label-sync. I am guessing (as I can't find them in the job history anymore) that when label-sync ran, the repo was not yet there.

[2022-09-20 06:39] VannTen commented on #459
On Mon, Sep 19, 2022 at 10:18:48AM -0700, Pep Turró Mauri wrote:

Looks plausible.
Long-term looks like we should add explicit dependency for the
github-config.yaml... and prow support that by using tekton[1] ^.
Another needs for https://github.com/operate-first/apps/issues/2366

In the mean time, I don't know how we can trigger it manually ? Worst
case we can do a bogus change on labels.yaml.

[1

[2022-09-20 17:54] codificat commented on #459
The `label_sync` postsubmit job following #460 failed:

[code]

I don't know why `label_sync` was trying to delete the (non-existing) `wontfix` label :disappointed:

On the positive side, this happened after a bunch of label additions. It seems most of the labels [are there now](https://github.com/thoth-station/opendatahub-cnbi/labels), and this worked now: https://github.com/thoth-station/opendat

[2022-09-21 09:20] VannTen commented on #459
`wontfix` is one of the previous names of `triage/unresolved`, so maybe
it's trying to do some sort of rename ? Should not choke on it not
existing though.

[2022-09-21 10:01] VannTen commented on #360
I think we should turn this into a tracker issue, and open an issue on each of
our repositories we care about.
The individual tasks are not hard, but it's take time. This is typically the
type of stuff which could be done in hacktoberfest, but for that we need to
break it up into manageable chunks, and per repo seems the easiest.

I can script the issue creation without too much trouble I think.

[2022-09-21 11:06] codificat commented on #459
Right, but there are various other "previous" labels in `labels.yaml` and they did not create problems so far AFAIK (on this or other repos - there have been a few label renames)

Agreed. This might be a bug in `label_sync`. I'm not sure how/if we could reproduce it, though. And a quick search in the [test-infra repo](https://github.com/kubernetes/test-infra/) did not bring anything relevant AFACI

[2022-09-21 12:16] VannTen commented on #459
I think unless we encounter it again, it's probably good to close.
And even if we do, it's quite minor.

[2022-09-21 13:06] #456 closed

[2022-09-21 16:17] sesheta commented on #415
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-22 06:39] goern commented on #415
any update on this @shreekarSS

[2022-09-22 07:02] goern commented on #360
please go ahead :)

[2022-09-22 07:10] goern commented on #459
/close

[2022-09-22 07:10] sesheta commented on #459
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/459#issuecomment-1254619858):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2022-09-22 07:10] #459 closed

[2022-09-22 12:30] VannTen commented on #448
/sig observability
I'd like to propose a more precise set of Acceptance Critera:
- [ ] Create a metric `python_version` based on either jobs runs or data in the sql DB
- [ ] Create a dashboard for these metrics

[2022-09-22 14:45] codificat commented on #424
/assign

Discussed in today's tech talk session: the proposal is to unify all the SIG and WG work into one single board, https://github.com/orgs/thoth-station/projects/49

/triage accepted
/lifecycle active

[2022-09-25 13:18] sesheta commented on #411
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-25 13:18] sesheta commented on #384
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-25 13:18] sesheta commented on #361
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-26 11:40] VannTen commented on #360
For now I put repos with a setup.py and no pyproject.toml. There is other (both
presents for example), but that should the easiest ones.

- [ ] https://github.com/thoth-station/aicoe-ci-pulp-upload-example/issues/24
- [ ] https://github.com/thoth-station/thoth-pre-commit-hook/issues/34
- [ ] https://github.com/thoth-station/invectio/issues/165
- [ ] https://github.com/thoth-station/analyzer/issues

[2022-09-27 09:17] codificat commented on #411
/wg cnbi

[2022-09-27 09:17] codificat commented on #411
/remove-lifecycle stale

[2022-09-27 09:18] codificat commented on #412
/wg cnbi

[2022-09-27 11:15] codificat commented on #424
This is now done: the new unified [planning board](https://github.com/orgs/thoth-station/projects/49/views/1) contains all the issues from all the SIG and WG boards, and views that show the content split by SIG/WG.

/close

[2022-09-27 11:15] #424 closed

[2022-09-27 11:15] sesheta commented on #424
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/core/issues/424#issuecomment-1259350011):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-09-27 13:27] Gkrumbach07 commented on #451
**Acceptance Criteria**
- [ ] Decide the categories of documentation (community, Python dev, Data scientist)
- [ ] Adjust the Thoth website to use the categories
- [ ] add landing pages for the types of documentation to summarize their components
- [ ] Populate landing pages with our [projects](https://github.com/thoth-station/core/issues/451#issuecomment-1247526506) and summaries about them. Incl

[2022-10-03 11:07] sesheta commented on #400
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-04 03:38] harshad16 commented on #358
/remove-lifecycle rotten
/lifecycle frozen

[2022-10-04 03:39] harshad16 commented on #365
/remove-lifecycle rotten
/lifecycle frozen

[2022-10-04 03:45] harshad16 commented on #400
/remove-lifecycle stale
/lifecycle frozen

[2022-10-04 03:46] harshad16 commented on #361
/remove-lifecycle stale
/lifecycle frozen

[2022-10-04 03:46] harshad16 commented on #384
/remove-lifecycle stale
/lifecycle frozen

[2022-10-05 13:12] codificat commented on #411
This is delayed waiting for input from the alternative approaches and how they apply to a real-life use case, e.g. https://github.com/thoth-station/opendatahub-cnbi/issues/14

[2022-10-06 08:32] VannTen commented on #359
The way you can do this with Openshift BuildConfig is pretty elegant:
Build of parent triggered -> ImageStream X change -> BuildConfig with trigger on X trigger a build
-> chain and repeat ad nauseam.

We might want to take a lookt at [Tekton Trigger](https://tekton.dev/docs/triggers/) to see if it's feasible to hook them up with ImageStream ; or what else we can use to detect new images tags / ve

[2022-10-17 12:34] goern opened #466 "document support policy"
## Problem statement
As a developer, I want to know which versions of python and environments are supported by thoth

### Additional context
the policy should answer questions like https://github.com/thoth-station/solver/issues/5191

## Acceptance Criteria

- [ ] support policy published

/kind documentation
/priority critical-urgent
/assign @goern

[2022-10-17 12:34] sesheta commented on #466
@goern: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-10-17 12:34] sesheta commented on #466
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-10-17 12:35] goern commented on #466
/sig user-experience

[2022-10-17 12:59] Gkrumbach07 commented on #442
/triage accepted

create a google form and send it to teams that use Thoth and aggregate results. Scorecards also give importance information for each metric they provide.

[2022-10-19 10:59] goern opened #467 "Provide Maintenance related scoring as a informational comment to Pull Requests"
reopen of https://github.com/open-services-group/scrum/issues/28

[2022-10-19 10:59] sesheta commented on #467
@goern: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-10-20 10:51] VannTen commented on #423
Do we have specific repos we're concerned about ?

Maybe the owner should not list specific people, but alias to SIGs members ? That would avoid duplication certainly.

/triage needs-information

[2022-10-20 13:49] harshad16 commented on #423
Not specific repos,
generally most of the repo.

sig-members seems to be a good way to go.
though we have started to update this with current members active on the repo.

[2022-10-20 14:00] harshad16 commented on #423
Some repos are already adjusted:
https://github.com/thoth-station/solver/blob/master/OWNERS
https://github.com/thoth-station/python/blob/master/OWNERS
https://github.com/thoth-station/package-update-job/blob/master/OWNERS
https://github.com/thoth-station/integration-tests/blob/master/OWNERS
https://github.com/thoth-station/thamos/blob/master/OWNERS
https://github.com/thoth-station/document-sync-jo

[2022-10-31 17:47] harshad16 opened #469 "would like to have a label `blocked` for marking issues blocked."
## Problem statement
I would like to have a label `blocked` for marking issues blocked.
As it makes it clear on the issue.

## High-level Goals
 - Include blocked label.

## Proposal description

- Include the label
 https://github.com/thoth-station/core/blob/main/community/labels.yaml
 and update the description: https://github.com/thoth-station/core/blob/main/community/labels.md

## Acceptance C

[2022-10-31 17:47] sesheta commented on #469
@harshad16: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-11-07 13:49] Gkrumbach07 commented on #451
- [ ] Create a google form to help aggregate data collection within team

[2022-11-08 16:22] #455 closed

[2022-11-08 20:34] oindrillac commented on #425
hi @Gkrumbach07 we have a github action workflow setup to custom train the model https://github.com/redhat-et/time-to-merge-tool

Wanted to check if the inference action/bot is available anywhere to test or being used currently?

Here https://github.com/redhat-et/time-to-merge-tool/issues/5 we are looking at an independent github action workflow which loads a model from S3 (does not point to a run

[2022-11-10 14:46] Gkrumbach07 commented on #425
Hi @oindrillac. Our bot can be found [here](https://github.com/thoth-station/ttm-as-a-service), however it is not hosted at the moment as it only provides one model to use (the Thoth model). When installed on a repo or org, it will respond to PRs with a prediction using the model hosted on seldon.

I will take a look at the github action workflow and try to get it working.

[2022-11-10 15:19] harshad16 commented on #451
Related-to: https://github.com/thoth-station/thoth-station.github.io/issues/245

[2022-11-10 15:35] codificat commented on #451
Discussed in the [Thoth Tech Talk](https://bit.ly/thoth-tech-talk-sessions) 2022-11-10.

Summary of the discussion is that this project overview should be part of a website revamp (related: https://github.com/thoth-station/thoth-station.github.io/issues/245)

[2022-11-10 20:01] Gkrumbach07 commented on #425
The action is running into issues. Any idea why? https://github.com/Gkrumbach07/time-to-merge-tool/actions/runs/3439990132/jobs/5737919078

[2022-11-14 15:26] Gkrumbach07 commented on #425
Github does not allow you to create secrets that begin in GITHUB. Is there something I am missing here. I provided those variables in the shell script.

[2022-11-14 15:38] oindrillac commented on #425
my bad, the secret names are actually REPO & ORG.
The correct variable names are listed under the manual trigger section here https://github.com/redhat-et/time-to-merge-tool#step-3

[2022-11-15 14:19] goern commented on #442
let's assume that some scorecard metrics are more useful than others, see https://github.com/ossf/scorecard/blob/main/docs/checks.md so we include

- prevent Trojan: Binary-Artifacts
- prevent Trojan: Branch-Protection
- keep quality: CI-Tests
- keep quality: CII-Best-Practices
- keep quality: Code-Review
- keep quality: Pinned-Dependencies
- maintained code: Contributors
- maintained code: Depend

[2022-11-15 14:19] #442 closed

[2022-11-15 15:27] goern commented on #469
sounds good to me. what do we do with blocked issues and pull requests? or is that just an informational label?

[2022-11-15 15:49] harshad16 commented on #469
It is an informational label to communicate with contributor that work is in progress though blocked with some reason.

- we would try to unblock them based on priority or address them more in sig meetings.

[2022-11-16 16:04] VannTen commented on #469
Should that be a standalone labels, or part of `lifecycle/*` ? (`lifecycle/active` )
Or another one ?

[2022-11-16 16:24] harshad16 commented on #469
Great question.
Any place would work.

As lifecycle labels are from Kubernetes, we can check if the blocked label is already present.

[2022-11-17 10:23] goern commented on #469
Kubernetes does not have these semantics, they have issue that blocks releases, but they don't indicate that an issue is blocked... https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.yaml

putting it in the lifecycle context makes sense...

[2022-11-21 11:52] codificat opened #474 "label_sync post-submit job fails to complete"
## Bug description

The last execution of the `thoth-station-labels` prow [postsubmit job](https://github.com/thoth-station/core/blob/59b769b858e5fc76bb9ab91755dce177cf5ea4c8/.prow.yaml#L114) failed to complete its work after running for 2 hours.

It seems that the timeout for that job is 2 hours but it takes longer to complete the `label_sync` exectution.

### Steps to Reproduce
Steps to reproduc

[2022-11-21 11:52] sesheta commented on #474
@codificat: This issue is currently awaiting triage.
If a refinement session determines this is a relevant issue, it will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-11-21 11:52] sesheta commented on #474
@codificat: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-11-21 12:25] codificat commented on #474
/sig devsecops
/priority important-longterm

and I believe it's clear enough to say
/triage accepted